---
import { marked } from 'marked';
import Image from './Image.astro';

export interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
    id: string;
    hasBorder?: boolean;
  }
}

const { title, image } = Astro.props;
---

<div class="col-span-full md:col-span-9 md:col-start-3 flex flex-col xl:flex-row bg-neutral-100 dark:bg-neutral-900 p-15 gap-15 ">
  
  {image && (
    <div class="col-span-full  flex flex-col gap-y-10 xl:basis-1/4 ">
      <h3 class="text-pretty uppercase " set:html={marked.parse(title)}></h3>
      <div class=" flex flex-col gap-2 text-balance  normal-case">
        <slot />
      </div>
    </div>
    <Image
      id='T1'
      src={image.src}
      alt={image.src}
      span={{ base: 12 }}
      hasCaption={false}
      hasBorder={false}
      hasPadding={false}
      classes="self-center xl:basis-3/4 "
    />
    
  )}
</div>
