---
import { marked } from 'marked';
import Image from './Image.astro';

export interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
    id: string;
    hasBorder?: boolean;
  }
}

const { title, image } = Astro.props;
---

<div class="col-span-full md:col-span-9 md:col-start-3 grid grid-cols-12 md:grid-cols-8 gap-y-3 gap-x-3">
  <div class="col-span-full  flex flex-col  ">
    <h3 class="text-pretty uppercase" set:html={marked.parse(title)}></h3>
    <div class=" flex flex-col gap-2 text-balance  normal-case">
      <slot />
    </div>
  </div>
  {image && (
    <Image
      id='T1'
      src={image.src}
      alt={image.src}
      span={{ base: 12 }}
      hasCaption={false}
      hasBorder={image.hasBorder}
      classes="self-center "
    />
  )}
</div>
