---
import PauseIcon from "../icons/PauseIcon.astro";
import { stripExtension } from "../../utils/formatting";

export interface Props {
  src: string;
  alt: string;
  id: string;
  span: number | { 
    base: number, 
    sm?: number, 
    md?: number, 
    lg?: number, 
    xl?: number 
  };
  hasPadding?: boolean;
  orientation?: 'vertical' | 'horizontal';
  classes?: string;
}
const {
  src, 
  alt,
  id,
  span = 12,
  hasPadding = false,
  orientation = 'horizontal',
  classes = "" 
} = Astro.props;

const extensionlessSrc = stripExtension(src);

let colClasses = '';
let spanClasses = '';

switch (typeof span) {
  case 'number':
    colClasses = `grid-cols-${span}`;
    spanClasses = `col-span-${span}`;
    break;
  case 'object':
    for (const [breakpoint, cols] of Object.entries(span)) {
      if (breakpoint === 'base') {
        colClasses += `grid-cols-${cols} `;
        spanClasses += `col-span-${cols} `;
      } else {
        colClasses += `${breakpoint}:grid-cols-${cols} `;
        spanClasses += `${breakpoint}:col-span-${cols} `;
      }
    }
    break;
}
---
<div
  id={id}
  class={`
    grid gap-y-1 gap-x-4 border-t border-neutral-700 pt-1
    ${colClasses} ${spanClasses} ${classes}
  `}
>
  <p class="col-span-1 tabular uppercase ">{id}</p>
  <p class={`col-start-2 col-end-[-1] `}>{alt}</p>
  <div class={`
    relative grid col-span-full bg-neutral-800 gap-x-4
    ${colClasses}
    ${hasPadding ? '-mx-4 px-4 xs:mx-0 xs:px-0' : ''}
    ${orientation === 'vertical' ? 'aspect-[2/3]' : 'aspect-[7/4]'}
  `}>
    <video
      class={`
        transition duration-[250ms] ease-out object-cover w-full cursor-pointer select-none self-center
        ${hasPadding ? 'col-start-2 col-end-[-2]' : 'col-span-full'}
        ${orientation === 'vertical' ? 'aspect-[2/3]' : 'aspect-[7/4]'}
      `}
      poster={extensionlessSrc + ".png"}
      playsinline
      autoplay
      muted
      loop
    >
      <!-- <source
        src={extensionlessSrc + "-small.mp4"}
        type="video/mp4"
        media="all and (max-width: 480px)"
      />
      <source
        src={extensionlessSrc + "-small.webm"}
        type="video/webm"
        media="all and (max-width: 480px)"
      /> -->
      <source src={extensionlessSrc + ".mp4"} type="video/mp4" />
      <!-- <source src={extensionlessSrc + ".webm"} type="video/webm" /> -->
    </video>
    <PauseIcon
      classes="pause-icon transform opacity-0 -rotate-[24deg] -translate-x-5 z-10 absolute top-[12px] left-[10px] transition-all duration-200 ease-in-out text-neutral-100 pointer-events-none drop-shadow"
    />
  </div>
</div>

<script>
  document.querySelectorAll("video")?.forEach((video) => {
    const pauseIcon = video.parentElement?.querySelector(
      ".pause-icon"
    ) as HTMLElement;

    const pauseVideo = () => {
      video.pause();
      video.classList.add("brightness-75");
      pauseIcon.classList.remove(
        "opacity-0",
        "-rotate-[24deg]",
        "-translate-x-5"
      );
    };

    const playVideo = () => {
      video.play();
      video.classList.remove("brightness-75", "ease-in-out");
      pauseIcon.classList.add(
        "ease-in",
        "opacity-0",
        "rotate-[12deg]",
        "-translate-x-5"
      );

      setTimeout(() => {
        pauseIcon.classList.remove("ease-in", "rotate-[12deg]");
        pauseIcon.classList.add("-rotate-[24deg]", "ease-in-out");
      }, 200);
    };

    video.addEventListener("click", () => {
      if (video.paused) {
        playVideo();
      } else {
        pauseVideo();
      }
    });
  });
</script>


