---
export interface Props {
  title: string;
  startDate: string;
  endDate: string;
  blurb: string;
  tech?: string[];
  titleWidth?: string;
  company?: string;
}
const { title, startDate, endDate, tech, blurb, company, titleWidth } =
  Astro.props;
---

<article class="col-span-3 grid grid-cols-3 gap-4">
  <h3 class={`font-medium text-black ${titleWidth ? titleWidth : ""}`}>
    {title}
  </h3>
  <p>{company}</p>
  <div class="relative flex h-fit justify-self-end">
    <p class="w-[69px] shrink-0">{startDate}</p>
    <span class="absolute top-1/2 left-[58px] -translate-y-1/2 transform"
      >-</span
    >
    <p class="w-[53px] shrink-0">{endDate}</p>
  </div>
  {tech && (
    <ul>
      {
        tech.map((tool) => (
          <li class="relative">
            <span class="absolute -left-[17px] -top-px">-</span>
            {tool}
          </li>
        ))
      }
    </ul>
  )}
  <p class={tech ? "col-span-2" : "col-span-3"}>{blurb}</p>
  <slot />
</article>
