---
export interface Props {
  title: string;
  startDate: string;
  endDate: string;
  blurb: string;
  tech?: string[];
  titleWidth?: string;
  company?: string;
}
const { title, startDate, endDate, tech, blurb, company, titleWidth } =
  Astro.props;
---

<article class="col-span-2 grid grid-cols-4 gap-x-[15px] gap-y-2 ">
  <h3 class={`col-span-2  text-neutral-950`}>
    {title}
  </h3>

  <div class="col-span-2 flex justify-between">
    <p><span class="font-mono mr-px">@</span>{company} </p>

    <p >{startDate} - {endDate}</p>
  </div>
  <p class={`text-xs font-medium normal-case col-span-3`}>{blurb}</p>
  <slot />
  {tech && (
    <ul class="col-span-full">
      {
        tech.map((tool) => (
          <li class="relative">
            <span class="absolute -left-[17px] -top-px">-</span>
            {tool}
          </li>
        ))
      }
    </ul>
  )}
</article>
