---
export interface Props {
  title: string;
  startDate: string;
  endDate?: string;
  blurb: string;
  tech?: string[];
  titleWidth?: string;
  company?: {
    title: string;
    url?: string;
  };
}
const { title, startDate, endDate, tech, blurb, company, titleWidth } =
  Astro.props;
---

<article class="grid grid-cols-5 gap-x-4 gap-y-3 col-span-5 col-start-2 border-t-[0.5px] border-black pt-1">
  <h3 class={`col-span-2 text-black font-bold`}>
    {title}
  </h3>
  {company.url ? (
    <a href={company.url} target="_blank" class="col-span-2 ">{company.title}</a>
  ) : (
    <p class="col-span-2">{company.title}</p>
  )}
  <p class="whitespace-nowrap justify-self-end col-span-1 ">
    <span class="mr-0.5">{startDate}</span>-{endDate && <span class="ml-0.5">{endDate}</span>}
  </p>
  <div class="flex flex-col gap-3 col-span-2 ">
    <p class={`col-span-3`}>{blurb}</p>
    <ul class="flex flex-col col-span-2">
      {tech.map((techology: string) => <li>{techology}</li>) }  
    </ul>
  </div>
  <div class="flex flex-col gap-3 col-span-3">
    <slot />
  </div>
</article>
