---
import Caption from './Caption.astro';
export interface Props {
  src: string;
  alt: string;
  hasCaptions?: boolean;
  classes?: string;
}
const { src, alt, hasCaptions = true, classes = '' } = Astro.props;

const imageClasses = `aspect-[7/4] object-cover w-full border border-[#eeeff1] rounded-lg sm:rounded-xl bg-gray-50 ${classes}`;
---
{hasCaptions ? (
  <div class="flex flex-col items-center gap-4 col-span-full my-2 overflow-visible">
    <img src={src} alt={alt} class={imageClasses} />
  </div>
) : (
  <img src={src} alt={alt} class={imageClasses} />
)}