---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Work from "../components/Work.astro";
import Study from "../components/Study.astro";
import { 
  getEntry,
  getCollection
} from 'astro:content';

const works = await getCollection('work', ({ 
  data: { hasStudy, isDraft } 
}) => (
  !hasStudy && !isDraft
));
const studies = await getCollection('study', ({ data: { isDraft } }) => !isDraft);

const studiesWithWorkData = await Promise.all(studies.map(async (study) => {
  const { work, roles, year, isComingSoon, order } = study.data;
  const { data: { title, image, description, link } } = await getEntry('work', work.id);
  return { 
    slug: study.slug,
    title, 
    image,
    description,
    roles, 
    year,
    order,
    link,
    isComingSoon
  };
}));
---

<Layout title="Max Georgopoulos">
  <div class="relative grid grid-cols-6 xl:grid-cols-8 gap-12 p-6 pt-0">
    <section 
      class="col-span-full grid grid-cols-6 xl:grid-cols-8 gap-6 gap-y-12 px-6 -mx-6  overflow-hidden " 
    >
      <Header/>
      <p class="hidden xl:inline-block col-span-full xl:col-span-1 -my-1">MG</p>
      <div class="col-span-full xl:col-span-6 xl:col-start-2 grid grid-cols-6 gap-6 ">
        <p class="col-span-full sm:col-span-3 -my-1">I'm a designer and developer based out of Toronto, but I bum
        around different places. I believe that the boundary between design
        and engineering is artificial — you get the best results by blending
        the two. Lately, I've been inspired by Ryan Singer's design
        techniques, TailwindCSS, and The 2023 Spring Summer Collection from
        Homme Plissé.</p>
        <p class="col-span-full sm:col-span-3 -my-1">I'm a designer and developer based out of Toronto, but I bum
        around different places. I believe that the boundary between design
        and engineering is artificial — you get the best results by blending
        the two. Lately, I've been inspired by Ryan Singer's design
        techniques, TailwindCSS, and The 2023 Spring Summer Collection from
        Homme Plissé.</p>
      </div>
    </section>
    <section class="col-span-full grid grid-cols-6 xl:grid-cols-8 gap-12 pb-12">
      {studiesWithWorkData?.sort((a, b) => a.order - b.order).map((study) => (
        <Study
          title={study.title}
          description={study.description}
          image={study.image}
          roles={study.roles}
          year={study.year}
          slug={study.slug}
          link={study.link}
          isComingSoon={study.isComingSoon}
        />
      ))}
    </section>
    <div class="col-span-full columns-1 sm:columns-2 gap-6 space-y-5">
      {works
        .sort((a, b) => a.data.order - b.data.order)
        .map(work => (
        <Work
          title={work.data.title}
          link={work.data.link}
          image={work.data.image}
          description={work.data.description}
          isComingSoon={work.data.isComingSoon}
        />
      ))}
    </div>
  </div>
</Layout>
