---
import Divider from "../components/Divider.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";

const heros = [
  { 
    name: "Steve Jobs",
    description: "Maniacle focus + uncompromising vision + you need a strong leader to make great things happen" 
  },
  { 
    name: "Gunpei Yokoi", 
    description: "Contraints make you creative + make fun things.", 
    link: "https://en.wikipedia.org/wiki/Gunpei_Yokoi" 
  },
  {
    name: "Massimo & Lella Vignelli", 
    description: "Semantics are everything + elegance elegance elegance.", 
    link: "https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf" 
  },
  { 
    name: "Dieter Rams", 
    description: "Radical simplicity, understanding engineering makes you a better designer.", 
    link: "https://www.google.com/search?q=dieter+rams+products&tbm=isch&ved=2ahUKEwi37cjNy5mEAxXMPlkFHcp6CxkQ2-cCegQIABAA&oq=dieter+rams+products&gs_lp=EgNpbWciFGRpZXRlciByYW1zIHByb2R1Y3RzMgUQABiABDIFEAAYgAQyBRAAGIAEMgYQABgFGB4yBBAAGB4yBhAAGAgYHkjIEFD6AliEEHAAeACQAQCYAdMBoAGMCaoBBTMuNS4xuAEDyAEA-AEBigILZ3dzLXdpei1pbWfCAgQQIxgnwgIKEAAYgAQYigUYQ4gGAQ&sclient=img&ei=96fDZfeVBsz95NoPyvWtyAE&bih=779&biw=1440" 
  },
  { 
    name: "Ryan Singer", 
    description: "All roads lead to Rome.", 
    link: "https://www.feltpresence.com/" 
  },
  { 
    name: "Hayao Miyazaki", 
    description: "You can make your work more beautiful and emotive.", 
    link: "https://en.wikipedia.org/wiki/Hayao_Miyazaki" 
  },
  { 
    name: "Christopher Alexander", 
    description: "Beauty can be objective.", 
    link: "https://en.wikipedia.org/wiki/Christopher_Alexander" 
  },
  { 
    name: "Maria Montessori", 
    description: "It's possible to make a dent in the education system.", 
    link: "https://en.wikipedia.org/wiki/Maria_Montessori" 
  }
];

const interests = [
  { 
    title: "Education reform",
    description: "Maniacle focus + uncompromising vision + you need a strong leader to make great things happen." 
  },
  { 
    title: "Electronic music", 
    description: "Contraints make you creative + make fun things.", 
    link: "https://en.wikipedia.org/wiki/Gunpei_Yokoi" 
  },
  {
    title: "Toy design", 
    description: "Semantics are everything + elegance elegance elegance.", 
    link: "https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf" 
  },
];
---

<Layout>
  <Header />
  <div class="relative col-span-full grid grid-cols-12 gap-4 ">
    <div class="flex flex-col gap-4 md:h-0  md:col-start-11 col-span-full md:col-span-2 md:row-span-full">
      <h1 class="sr-only">Max Kevin Crapper Georgopoulos</h1>
      <div aria-hidden="true">
        <div class="flex items-baseline justify-between gap-[4px]">
          <span>Max</span> 
          <div class="border-t h-px border-black/80  w-full"></div>
          <span class="w-[10px] text-center ">M</span> 
        </div>
        <!-- <Divider /> -->
        <div class="flex items-baseline justify-between gap-[4px]">
          <span>Kevin</span> 
          <div class="border-t h-px border-black/80  w-full"></div>
          <span class="w-[10px] text-center ">K</span> 
        </div>
        <!-- <Divider /> -->
        <div class="flex items-baseline justify-between gap-[4px]">
          <span>Crapper</span> 
          <div class="border-t h-px border-black/80  w-full"></div>
          <span class="w-[10px] text-center ">C</span> 
        </div>
        <!-- <Divider /> -->
        <div class="flex items-baseline justify-between gap-[4px]">
          <span>Georgopoulos</span> 
          <div class="border-t h-px border-black/80  w-full"></div>
          <span class="w-[10px] text-center ">G</span> 
        </div>
      </div>
      <SocialLinks  />
    </div>
    <div class="md:col-start-1 grid grid-cols-12 md:grid-cols-10 col-span-full md:col-span-10 gap-y-0 gap-x-4 ">
      <h3 class="col-span-full md:col-span-2">Bio</h3>
      <div class="flex flex-col col-span-full md:col-span-7 text-[12px] font-medium normal-case  break-words hyphens-auto ">
        <p class="">
          I'm a designer and developer based out of Toronto, but I bum
          around different places. I believe that the boundary between design
          and engineering is artificial — you get the best results by blending
          the two. Lately, I've been inspired by Ryan Singer's design
          techniques, TailwindCSS, and The 2023 Spring Summer Collection from
          Homme Plissé.
        </p>
      </div>  
    </div>  
    <div class="md:col-start-1 grid grid-cols-12 md:grid-cols-10 col-span-full md:col-span-10 gap-y-0 gap-x-4 ">
      <h3 class="col-span-full md:col-span-2">Skillz</h3>
      <div class="flex flex-col col-span-full md:col-span-7 " >
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Product Thinking</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Great</p>
        </div>
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Product Design</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Great</p>
        </div>
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Copywriting</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Good</p>
        </div>
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Frontend Dev</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Ok</p>
        </div>
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Graphic Design</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Ok</p>
        </div>
        <div class="flex items-baseline justify-between gap-[4px]">
          <p class="whitespace-nowrap">Backend Dev</p>
          <hr class="border-t h-px border-black/80  w-full" />
          <p>Meh</p>
        </div>
      </div>
    </div>
    <div class="md:col-start-1 grid grid-cols-12 md:grid-cols-10 col-span-full md:col-span-10 gap-y-0 gap-x-4 ">
      <h3 class="col-span-full md:col-span-2">Interests</h3>
      <ul class="flex flex-col col-span-full md:col-span-7">
        {interests.map((interest) => (
          <li class="">
            <details class="group before:content-none  flex w-full justify-between items-center gap-4 [&_summary]:open:cursor-zoom-out ">
              <summary class="transition duration-75 px-[4px] -mx-[4px] hover:bg-[#e1e1e1]  hover:cursor-zoom-in ">{interest.title}</summary>
              <p class="pl-[0.65rem]  normal-case font-medium">{interest.description} {interest.link && <Link href={interest.link} target="_blank" hasIcon={false} classes="inline  py-0.5 -my-0.5">[Learn]</Link>}</p>  
            </details>
          </li>
        ))}
      </ul>
    </div>
    <div class="md:col-start-1 grid grid-cols-12 md:grid-cols-10 col-span-full md:col-span-10 gap-y-0 gap-x-4 ">
      <h3 class="col-span-full md:col-span-2">Heros</h3>
      <ul class="flex flex-col col-span-full md:col-span-7">
        {heros.map((hero) => (
          <li class="">
            <details class="group before:content-none flex w-full justify-between items-center gap-4 [&_summary]:open:cursor-zoom-out ">
              <summary class="transition duration-75 px-[4px] -mx-[4px] hover:bg-[#e1e1e1]  hover:cursor-zoom-in">{hero.name}</summary>
              <p class="pl-[0.65rem]  normal-case font-medium">{hero.description} {hero.link && <Link href={hero.link} target="_blank" hasIcon={false} classes="inline  py-0.5 -my-0.5">[Learn]</Link>}</p>
            </details>
          </li>
        ))}
      </ul>
    </div>
    <div class="col-span-full -mx-4 -mb-8 mt-2">
      <img src="/me.png"  />
    </div>
  </div>
</Layout>
