---
export interface Props {
	href: string;
	companyName: string;
	title: string;
	description: string;
	roles: string[];
	projectImage: string;
	textColorPrimary: string;
	textColorSecondary: string;
	backgroundColor: string;
}

const { 
	href, 
	companyName,
	title,
	description,
	roles,
	projectImage,
} = Astro.props;

// const roleComponents = roles.forEach((role) =>(
// 	<p class={`${textColorSecondary} text-[10px] font-ibm uppercase tracking-wider`}>
// 		{role}
// 	</p>
// ));
---

<a href={href || '#'} class={`relative bg-neutral-800 hover:bg-[#2a2a2a] p-6 pt-12 md:pt-6 hover:shadow-lg transform hover:scale-[100.5%] transition duration-[500ms] ease-out`}>
	<img src="Frame-168.png" alt="" class="max-h-[300px] w-auto "/>
	<div class="text-right mt-12">
		<p class={`absolute top-6 right-6 text-neutral-400  leading-[16px] mb-3 font-ibm uppercase text-[10px] tracking-wider`}>{companyName}</p>
		<h2 style="text-shadow: 0 1px 2px rgb(0 0 0 / 0.1)" class={`text-3xl leading-[20px] italic mb-2 `}>{title}</h2>
		<p class={`font-ibm text-neutral-400 text-sm`}>{description}</p>
		<div class="flex gap-x-3 md:flex-col justify-end flex-wrap text-right md:text-left md:absolute bottom-6 left-6 mt-4">
			{roles.map((role) =>(
				<p class={`text-neutral-400 text-[10px] leading-[16px] font-ibm uppercase tracking-wider`}>
					{role}
				</p>
			))}
		</div>
	</a>
</div>