---
export interface Props {
	href: string;
	type: string;
	company?: string;
	title: string;
	description: string;
	roles: string[];
	collaborators: {
		name: string;
		link: string;
		role: string;
	}[];
	image: string;
	tools: string[];
}

const { 
	href, 
	type,
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools
} = Astro.props;
---

<a href={href || '#'} class={`flex justify-between group`}>
	<div>
		<h2 class={` text-4xl leading-[44px] group-hover:underline group-focus:underline`}>{title}</h2>
		<p class={`text-[10px] uppercase tracking-wide font-sans leading-6`}>{type}</p>
		<p class={`mt-2 mb-6`}>{description}</p>
		<table class="" cellspacing="0" cellpadding="0">
			<tr>
				<td class="">Did</td>
				<td>
					{roles.join(", ")}
				</td>
			</tr>
			{company && (
				<tr>
					<td class="">For</td>
					<td class="">{company}</td>
				</tr>
			)}
			{collaborators && (
				<tr>
					<td class="">With</td>
					<td class="flex flex-col gap-y-2 525:gap-0 ">
						<table class="w-fit" cellspacing="0" cellpadding="0">
							{collaborators.map((collaborator: { name: string, link: string }) => (
								<tr class="collaborator ">
									<td>
										<a href={collaborator.link} target="_blank" class="whitespace-nowrap underline-none hover:underline focus:underline">
											{collaborator.name}
										</a>  
									</td>
									<td>
										<span class="525:whitespace-nowrap">({collaborator.role})</span>
									</td>
								</tr>  
							))}
						</table>
					</td>
				</tr>
			)}
			<tr>
				<td class="">Using</td>
				<td>{tools.join(", ")}</td>
			</tr>
		</table>
	</div>
	{image ? (
		<img src={image || "Frame-168.png"} alt="" class="max-w-md "/>
	) : (
		<div class="h-[300px] w-full mt-6 bg-[#f6f6f6]"></div>
	)}
</a>
<style>
	.collaborator > td {
		padding-bottom: 0;
		padding-right: 8px;
	}
	.collaborator > td:first-child {
		padding-right: 12px;
	}
</style>