---
export interface Props {
	href: string;
	type: string;
	company?: string;
	title: string;
	description: string;
	roles: string[];
	collaborators: {
		name: string;
		link: string;
		role: string;
	}[];
	image?: string;
	tools: string[];
}

const { 
	href, 
	type,
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools
} = Astro.props;
---
<!-- <a href={href || '#'} class={`grid grid-cols-5 gap-6 lg:gap-10 w-full border-t-[0.5px] border-neutral-800`}> -->
<a href={href || '#'} class={`grid grid-cols-5 gap-6 lg:gap-10 w-full group`}>
	<div class="col-span-3 flex justify-end order-last">
		{image ? (
			<img src={image || "Frame-168.png"} alt="" class="max-h-[300px] w-auto"/>
		) : (
			<div class="max-h-[300px] w-full bg-[#f1f1f1]"></div>
		)}
	</div>
	<div class="col-span-2">
		<h2 class={`mb-3 text-4xl leading-8 group-hover:underline group-focus:underline  font-untitled-serif`}>{title}</h2>
		<p class={`text-[9px] leading-3 uppercase tracking-wider mb-5`}>{type}</p>
		<p class={`mb-5`}>{description}</p>
		<table class="" cellspacing="0" cellpadding="0">
			{company && (
				<tr>
					<td class="">For</td>
					<td class="">{company}</td>
				</tr>
			)}
			<tr>
				<td class="">Did</td>
				<td>
					{roles.join(", ")}
				</td>
			</tr>
			{collaborators && (
				<tr>
					<td class="">With</td>
					<td class="flex flex-col gap-y-2 525:gap-0 ">
						<table class="w-fit" cellspacing="0" cellpadding="0">
							{collaborators.map((collaborator: { name: string, link: string }) => (
								<tr class="collaborator ">
									<td>
										<a href={collaborator.link} target="_blank" class="whitespace-nowrap underline-none hover:underline focus:underline">
											{collaborator.name}
										</a>  
									</td>
									<td>
										<span class="525:whitespace-nowrap">({collaborator.role})</span>
									</td>
								</tr>  
							))}
						</table>
					</td>
				</tr>
			)}
			<tr>
				<td class="">Using</td>
				<td>{tools.join(", ")}</td>
			</tr>
		</table>
	</div>
</a>

<style>
	.collaborator > td {
		padding-bottom: 0;
		padding-right: 8px;
	}
	.collaborator > td:first-child {
		padding-right: 12px;
	}
</style>