---
import Row from './Row.astro';

export interface Props {
	href: string;
	type: string;
	company?: string;
	title: string;
	description: string;
	roles: string[];
	collaborators: {
		name: string;
		link: string;
		role: string;
	}[];
	image?: string;
	tools: string[];
}

const { 
	href, 
	type,
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools
} = Astro.props;
---
<a href={href || '#'} class={`grid grid-cols-12 gap-6 w-full group`}>
	<div class="col-span-6 flex justify-end">
		{image ? (
			<img src={image || "Frame-168.png"} alt="" class="max-h-[300px] w-auto"/>
		) : (
			<div class="max-h-[300px] w-full bg-[#cbcbcb]"></div>
		)}
	</div>
	<div class="col-span-6 flex flex-col gap-y-6">
		<table cellpadding="0" cellspacing="0" class="w-full border-t-[0.5px] border-[#403c38]">
			{company && (
				<Row>
					<td>Client</td>
					<td class="text-right">{company}</td>
				</Row>
			)}
			<Row>
				<td>Role</td>
				<td class="text-right">
					{roles.join(", ")}
				</td>
			</Row>
			{collaborators && (
				<Row>
					<td class="">Collaborators</td>
					<td class="text-right flex flex-col gap-y-2 525:gap-0 ">
						<div>
							{collaborators.map((collaborator: { name: string, link: string }) => (
								<p>
									<a href={collaborator.link} target="_blank" class="whitespace-nowrap underline-none hover:underline focus:underline">
										{collaborator.name}
									</a>   
									{collaborator.role}
								</p>
							))}
						</div>
					</td>
				</Row>
			)}
			<Row>
				<td class="">Using</td>
				<td class="text-right">{tools.join(", ")}</td>
			</Row>
			<Row>
				<td>{type}</td>
			</Row>
		</table>
		<h2 class={`text-4xl leading-8 group-hover:underline group-focus:underline  font-untitled-serif`}>{title}</h2>
		<p>{description}</p>
	</div>
</a>

<style>
	.collaborator > td {
		padding-bottom: 0;
		padding-right: 8px;
	}
	.collaborator > td:first-child {
		padding-right: 12px;
	}
</style>