---
export interface Props {
	href: string;
	type: string;
	company?: string;
	title: string;
	description: string;
	roles: string[];
	collaborators: {
		name: string;
		link: string;
		role: string;
	}[];
	image?: string;
	tools: string[];
}

const { 
	href, 
	type,
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools
} = Astro.props;
---

<a href={href || '#'} class={`flex flex-col-reverse md:flex-row-reverse md:justify-between gap-6 md:gap-9 group border-t-[0.5px] border-black pt-2`}>
	<div class="md:mt-6">
		{image ? (
			<img src={image || "Frame-168.png"} alt="" class="max-w-md "/>
		) : (
			<div class="h-[300px] w-full bg-[#f6f6f6]"></div>
		)}
	</div>
	<div>
		<p class={`mb-6 text-[10px] leading-3 uppercase tracking-wide font-sans`}>{type}</p>
		<h2 class={`mb-4 text-4xl leading-8 group-hover:underline group-focus:underline`}>{title}</h2>
		<p class={`mb-4`}>{description}</p>
		<table class="" cellspacing="0" cellpadding="0">
			<tr>
				<td class="">Did</td>
				<td>
					{roles.join(", ")}
				</td>
			</tr>
			{company && (
				<tr>
					<td class="">For</td>
					<td class="">{company}</td>
				</tr>
			)}
			{collaborators && (
				<tr>
					<td class="">With</td>
					<td class="flex flex-col gap-y-2 525:gap-0 ">
						<table class="w-fit" cellspacing="0" cellpadding="0">
							{collaborators.map((collaborator: { name: string, link: string }) => (
								<tr class="collaborator ">
									<td>
										<a href={collaborator.link} target="_blank" class="whitespace-nowrap underline-none hover:underline focus:underline">
											{collaborator.name}
										</a>  
									</td>
									<td>
										<span class="525:whitespace-nowrap">({collaborator.role})</span>
									</td>
								</tr>  
							))}
						</table>
					</td>
				</tr>
			)}
			<tr>
				<td class="">Using</td>
				<td>{tools.join(", ")}</td>
			</tr>
		</table>
	</div>
</a>
<style>
	.collaborator > td {
		padding-bottom: 0;
		padding-right: 8px;
	}
	.collaborator > td:first-child {
		padding-right: 12px;
	}
</style>