---
import CategoryTab from './CategoryTab.astro';

export interface Props {
  type?: 'list' | 'row'
  currentPage?: string;
  dotPosition?: 'left' | 'right';
  hasDots?: boolean;
}
const { type = 'list', currentPage = '/', dotPosition = 'left', hasDots = true } = Astro.props;
---
{type === 'row' ? (
  <div class='flex items-center w-full full-width'>
    <CategoryTab 
      title={'work'}
      hasDot={hasDots}
      dotPosition={dotPosition}
      classes='flex items-center justify-center gap-x-2 border-t-[0.5px] border-gray-dark border-box h-5 w-full pt-1'
    />
    <CategoryTab 
      title={'writing'}
      hasDot={hasDots}
      dotPosition={dotPosition}
      classes='flex items-center justify-center gap-x-2 border-t-[0.5px] border-gray-dark border-box h-5 w-full pt-1'
    />
    <CategoryTab 
      title={'projects'}
      hasDot={hasDots}
      dotPosition={dotPosition}
      classes='flex items-center justify-center gap-x-2 border-t-[0.5px] border-gray-dark border-box h-5 w-full pt-1'
    />
  </div>
) : (
  <div class='flex flex-col w-full md:w-fit'>
    <CategoryTab title='work' hasDot={hasDots} dotPosition={dotPosition}/>
    <CategoryTab title='writing' hasDot={hasDots} dotPosition={dotPosition}/>
    <CategoryTab title='projects' hasDot={hasDots} dotPosition={dotPosition}/>
  </div>
)}