---
import ThemeButton from "./ThemeButton.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links = [
  { href: "/work", text: "Work", matchingPaths: ["/work", "/study"] },
  { href: "/writing", text: "Writing", matchingPaths: ["/writing"] },
  { href: "/about", text: "About", matchingPaths: ["/about"] },
];

const currentPath = Astro.url.pathname;
const doesLinkMatchCurrentPath = (matchingPaths: string[]) => 
  matchingPaths.some((path) => currentPath.includes(path));
---

<header
  class={`
    relative col-span-full grid grid-cols-2 md:grid-cols-4 gap-6 pt-4 sm:pt-6 -my-1
    ${classes}
  `}
>
  <div class="flex items-center justify-between gap-4">
    <a href="/" class="hover:underline">Max Georgopoulos</a>
  </div>

  {links.map(({ href, text, matchingPaths }) => (
    <a
      href={href}
      class={`
        hidden md:inline-block hover:underline -mr-0.5
        ${doesLinkMatchCurrentPath(matchingPaths)
          ? "text-neutral-50" 
          : "text-neutral-400"
        }
      `}
    >
      {text}
    </a>
  ))}

  <div class="flex sm:justify-self-end md:hidden col-start-2 gap-1 text-neutral-400">
    {links.map(({ href, text, matchingPaths }, index) => (
      <span>
        <a
          href={href}
          class={`
            hover:underline
            ${doesLinkMatchCurrentPath(matchingPaths) ? "text-neutral-50" : null}
          `}
        >
          {text}
        </a>
        {index !== links.length - 1 && <span class='text-neutral-400'>,</span>}
      </span>
      ))}
  </div>
  <!-- <ThemeButton classes="absolute top-[18px] sm:top-[26px] right-0" /> -->
</header>
