---
const paths = Astro.url.pathname.split('/');
const pathNames = {
  '': 'Home',
  'case-work': 'Case work',
  'case-work/memiori': 'Memiori',
}
import Flower from "./Flower.astro";
---


<header class="flex items-center justify-between ">
  <div class="flex gap-x-2">
    <a href="/" class="hover:underline whitespace-nowrap">
      Max Georgopoulos
    </a>
    <!-- {paths && (
      paths.map((path, index) => {
        <a 
          href={`/${path}`} 
          class="hover:underline whitespace-nowrap"
        >
          Case work
        </a>
      })
    )}
    \
    <a href="/" class="hover:underline whitespace-nowrap">
      Case work
    </a>
    \
    <a href="/" class="hover:underline whitespace-nowrap text-[#767676]">
      Memiori
    </a> -->
  </div>
  <div class="flex gap-x-1.5 flex-wrap text-sm">
    <Flower type="°" classes={'h-6 w-6'} fluttering={true}/>
    <Flower type="Ø" classes={'h-6 w-6'} fluttering={false}/>
    <Flower type=">" classes={'h-6 w-6'} fluttering={false}/>
    <Flower type="`" classes={'h-6 w-6'} fluttering={true}/>
  </div>
  <!-- <span class="font-ornament text-2xl leading-4 -mr-1.5">`</span>  -->
</header>

<script>
  const flowers = document.querySelectorAll('.flower');

  setInterval(() => flowers.forEach((flower) => flower.classList.toggle('fluttering')), 350);
</script>
