---
import ThemeButton from "./ThemeButton.astro"
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

export interface Props {
  link?: {
    text: string;
    href: string;
    classes?: string;
    isExternal?: boolean;
  };
  cellSpan?: "col-span-2" | "col-span-3"
  classes?: string;
}

const { link, classes = "", cellSpan = "col-span-3" } = Astro.props;
---

<header
  class={`
    relative col-span-full flex items-center justify-between lg:grid grid-cols-12 gap-6 md:gap-12 pt-6 sm:pt-12 -my-1
    ${classes}
  `}
>
  <div class={`
    ${cellSpan} 
    flex items-center justify-between gap-6 sm:gap-12 items-center
  `}>
    <a href="/" class="hover:underline col-span-3">Max Georgopoulos</a>
  </div>
  <div class={`
    ${cellSpan} 
    col-end-13 flex items-center gap-6 justify-self-end
  `}>
    {
      link ? (
        <>
          <a
            href={link.href}
            target={link.isExternal ? "_blank" : undefined}
            class={`items-center gap-[3px] hover:underline lg:flex ${link.classes}`}
          >
            {link.text}
            {link.isExternal ? (
              <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
            ) : null}
          </a>
          <span class="hidden sm:block h-[14px] w-px border-r border-[#C4D0D7] dark:border-[#29333C]"></span>
        </>
      ) : null
    }
    <ThemeButton />
  </div>
</header>
