---
import ComingSoonBanner from './ComingSoonBanner.astro';
export interface Props {
  title: string;
  description: string;
  image: string;
  roles: {
    long: string[],
    short: string[]
  };
  year: string;
  slug: string;
  isComingSoon?: boolean;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  classes?: string;
}

const { 
  link, 
  title, 
  description, 
  image,
  roles, 
  slug,
  year = '2023',
  isComingSoon = false,
  classes = '' 
} = Astro.props;
---

<a
  href={`/study/${slug}`}
  class={`
    group relative gap-x-6 gap-y-1 col-span-full grid h-fit grid-cols-6 xl:grid-cols-8
    ${isComingSoon ? 'cursor-not-allowed' : 'cursor-pointer'}
    ${classes} 
  `}
>
  <div class="col-span-full xl:col-span-1 flex xl:flex-col justify-between -my-1">
    <h3>{title}</h3>
    <p class="xl:hidden">{description}</p>
    <p class="hidden xl:inline-block">{roles.short.join(', ')}</p>
  </div>
  <picture class="relative overflow-hidden h-auto col-span-full xl:col-span-6 xl:col-start-2">
  {isComingSoon && <ComingSoonBanner/>}
    <img
      src={image}
      alt={`Preview mockup of ${title}`}
      class={`
        w-full h-full object-top select-none object-cover
        ${isComingSoon ? 'group-hover:blur-sm group-focus:blur-sm transition duration-[350ms]' : 'group-hover:brightness-[96%] '}
      `}
    />
  </picture>
  <div class="text-right col-span-full xl:col-span-1 flex xl:flex-col justify-between items-end -my-1">
    <p class="xl:hidden">{roles.short.join(', ')}</p>
    <p class="hidden xl:inline-block">{description}</p>
    <p>{year}</p>
  </div>
</a>

