---
import DancingLetters from './DancingLetters.astro';
import RightArrowIcon from './icons/RightArrowIcon.astro';
import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
import ComingSoonBanner from './ComingSoonBanner.astro'

type Roles = {
  long: string[],
  short: string[];
}

type Work = {
  title: string;
  description: string;
  roles: Roles;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  year?: string;
  image?: string;
  type?: string;
  studySlug?: string;
  isComingSoon?: boolean;
  classes?: string;
  index?: number;
}

type WorkCard = {
  variant: 'card';
  image: string;
} & Work;

type WorkRow = {
  variant: 'row';
  type: string;
  year: string;
} & Work;

export type Props = WorkCard | WorkRow;

const { 
  title, 
  description, 
  variant,
  type,
  image,
  year,
  link = {
    href: null,
    target: '_blank',
  },
  roles,
  studySlug,
  classes = '',
  isComingSoon = false,
  index
} = Astro.props;

const Element = isComingSoon ? 'div' : 'a';
const props = 
  isComingSoon 
    ? {} 
    : studySlug 
      ? { href: `study/${studySlug}`, target: '_self' } 
      : link 

const rightArrowIconClasses = 
  `inline shrink-0 mr-[4px] -ml-px  ${isComingSoon ? 'opacity-50' : ''}`;

const upRightArrowIconClasses = 
  `inline shrink-0 -ml-px mr-[4px] ${isComingSoon ? 'opacity-50' : ''}`;

---

<!-- {studySlug 
          ? <RightArrowIcon classes={rightArrowIconClasses} /> 
          : <UpRightArrowIcon classes={upRightArrowIconClasses} />
        } -->
{variant === 'card' ? (
  <Element
    {...props}
    class={`
       group overflow-hidden block group relative gap-x-4 h-fit 
      ${isComingSoon ? 'cursor-not-allowed' : props.target === '_blank' ? 'cursor-alias' : 'cursor-pointer'}
      ${classes} 
    `}
  >
    <div class={`
      flex justify-center
      ${!isComingSoon && 'group-hover:bg-neutral-750'}
    `}>
      <span class="absolute left-0  shrink-0">W{index}</span> 
      <h3 aria-label={`${title} ${isComingSoon ? '(coming soon)' : ''}`}>{title}</h3>
    </div>
    <picture class="relative h-auto">
      <img
        src={image}
        alt={`Preview mockup of ${title}`}
        class={`
          w-full h-full object-top select-none object-contain
        `}
      />
      {isComingSoon && <ComingSoonBanner classes="-rotate-[12deg]" />}
    </picture>
  </Element>
) : (
  <Element
    {...props}
    class={`
      relative group col-span-full 
      ${isComingSoon ? 'text-white/50' : 'hover:bg-neutral-750'}
      ${isComingSoon ? 'cursor-not-allowed' : props.target === '_blank' ? 'cursor-alias' : 'cursor-pointer'}
      ${classes}
    `}
  >
    <div class={`
      grid grid-cols-12 gap-x-4
      ${isComingSoon ? 'group-hover:hidden group-focus:hidden' : ''}
    `}>

      <div class="shrink-0 whitespace-nowrap font-black uppercase flex  col-span-4 md:col-span-2 h-fit">
        <span class="w-[34px] shrink-0">W{index}</span> 
        <span class="whitespace-nowrap font-black uppercase">{title}</span> 
      </div>
      <p class="text-right  inline-block col-span-8 sm:col-span-7 md:col-span-4 truncate">
        {description}
      </p>
      <div class="hidden md:inline-block col-span-2 ">
        {type}
      </div>
      <div class="hidden md:flex gap-1 col-span-full sm:col-span-3  md:col-span-3 ml-4.5">
        <span>{roles.long.join(', ')}</span>
      </div>
      <div class="hidden text-[11px] sm:block col-span-1 justify-self-end ">
        {isComingSoon ? "—" : year}
      </div>
    </div>
    {isComingSoon && (
      <div class="h-4 hidden group-hover:flex group-focus:block">
        <ComingSoonBanner classes="text-white opacity-1" />
      </div>
    )}
  </Element>
)}