---
import Table from './Table.astro';
import Row from './Row.astro';

export interface Props {
	href: string;
	type: string;
	company?: string;
	title: string;
	description: string;
	roles: string[];
	collaborators: {
		name: string;
		link: string;
		role: string;
	}[];
	image?: string;
	tools: string[];
}

const { 
	href, 
	type,
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools
} = Astro.props;
---
<a href={href || '#'} class={`flex flex-col sm:grid sm:grid-cols-12 gap-6 sm:gap-12 w-full group`}>
	<div class="sm:col-span-5">
		{image ? (
			<img src={image} alt="" class="max-w-md max-h-[232px]"/>
		) : (
			<div class="max-w-md max-h-[232px] aspect[1.25/1] h-full w-full bg-[#cbcbcb]"></div>
		)}
	</div>
	<div class="sm:col-span-7 flex flex-col-reverse sm:flex-col gap-y-6 sm:gap-y-12">
		<Table classes='border-t-[0.5px] border-[#3d352b]'>
			{company && (
				<Row>
					<td>Client</td>
					<td class="text-right">{company}</td>
				</Row>
			)}
			<Row>
				<td>Role</td>
				<td class="text-right">
					{roles.join(", ")}
				</td>
			</Row>
			{collaborators && (
				<Row>
					<td class="">Collaborators</td>
					<td class="text-right flex flex-col gap-y-2 525:gap-0 ">
						<div>
							{collaborators.map((collaborator: { name: string, link: string }) => (
								<p>
									<a href={collaborator.link} target="_blank" class="whitespace-nowrap underline-none hover:underline focus:underline">
										{collaborator.name}
									</a>   
									{collaborator.role}
								</p>
							))}
						</div>
					</td>
				</Row>
			)}
			<Row>
				<td class="">Tools</td>
				<td class="align-right">{tools.join(", ")}</td>
			</Row>
			<Row>
				<td>{type}</td>
			</Row>
		</Table>
		<div>
			<h2 class={`mb-1 md:mb-2 text-3xl leading-7 md:text-4xl md:leading-8 group-hover:underline group-focus:underline  font-untitled-serif`}>{title}</h2>
			<p>{description}</p>
		</div>
	</div>
</a>

<style>
	.collaborator > td {
		padding-bottom: 0;
		padding-right: 8px;
	}
	.collaborator > td:first-child {
		padding-right: 12px;
	}
</style>