---
import RightArrowIcon from './icons/RightArrowIcon.astro';
import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';

export interface Props {
  title: string;
  description: string;
  image: string;
  link: {
    href: string;
    target?: '_blank' | '_self';
  };
  classes?: string;
}

const { 
  link, 
  title, 
  description, 
  image,
  classes = '' 
} = Astro.props;
---

<a
  href={link.href}
  target={link.target || '_self'}
  class={`
    group relative gap-x-6 grid grid-cols-2 lg:grid-cols-4 h-fit break-inside-avoid-column col-span-full sm:col-span-2
    ${classes} 
  `}
>
  <div class="lg:fixed inset-0 bottom-auto lg:opacity-0 z-10 group-hover:opacity-100 group-hover:mb-0 transition-all duration-200 col-span-full bg-white dark:bg-[#111] lg:pb-1 -mt-1 mb-1">
    <p class="w-full">
      <span class="mr-1">{title}</span> 
      <span class="text-neutral-500 dark:text-neutral-400 my-0.5 leading-4">
        {description || ""}
      </span>
    </p>
    <span 
      class="absolute top-1 right-0 opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition ease-in-out "
    >
      {link.target === '_blank' ? (
        <UpRightArrowIcon 
          classes="transition ease-in-out mt-[3px] -mr-[3px] transform -translate-x-px translate-y-px group-hover:translate-x-px group-focus:translate-x-px group-hover:-translate-y-px group-focus:-translate-y-px" 
        /> 
      ) : (
        <RightArrowIcon 
          classes="transition ease-in-out -mr-0.5 transform -translate-x-0.5 group-hover:translate-x-0 group-focus:translate-x-0 " 
        />
      )}
    </span>
  </div>
  <picture class='order-last relative h-auto col-span-full'>
    <img
      src={image}
      alt={`Preview mockup of ${title}`}
      class='w-full h-full object-top select-none object-contain'
    />
  </picture>
</a>
