---
export interface Props {
	href: string;
	title: string;
	description: string;
	roles: string[];
	year: number;
	image?: string;
	titleTightness?: 'normal' | 'tight';
}

const { 
	href, 
	title,
	description,
	roles,
	year,
	image,
	titleTightness = 'normal',
} = Astro.props;
---
<!-- <a 
	href={href}
	class="group grid grid-cols-12 gap-y-5 gap-x-5 1.5xl:gap-x-0 p-5 1.5xl:pr-0 border-b-[1px]  border-gray-darkest hover:bg-gray focus:bg-gray transition duration-100"
> -->
<a 
	href={href}
	class="group col-span-full col-span-1/3 transition duration-100"
>
	
	<div class="flex flex-col justify-between w-full 1.5xl:pr-5">
		<div class="flex justify-between gap-x-5 pt-3 border-t-[2px] border-gray-darkest">
			<h2 class={`
				${titleTightness === 'tight' ? 'tracking-[-0.175em]' : null}
				text-[35px] leading-7 mb-3
			`}>
				{title}
			</h2>
			<p class="text-[11px] leading-3 -my-0.5 tracking-wider">{year}</p>
		</div>
		<p class="-my-1 mb-3">{description}</p>
		<img src="/work/memiori/cover.png" class="sm:order-last col-span-full aspect-video object-cover w-full sm:h-full"/>
	</div>
</a>
