---
import RightArrowIcon from './icons/RightArrowIcon.astro';
import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
import ComingSoonBanner from './ComingSoonBanner.astro'

type Roles = {
  long: string[],
  short: string[];
}

type Work = {
  title: string;
  description: string;
  roles: Roles;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  year?: string;
  image?: string;
  hasBorder?: boolean;
  type?: string;
  studySlug?: string;
  isComingSoon?: boolean;
  classes?: string;
  index?: number;
}

type WorkCard = {
  variant: 'card';
  image: string;
  hasBorder?: boolean
} & Work;

type WorkRow = {
  variant: 'row';
  type: string;
  year: string;
} & Work;

export type Props = WorkCard | WorkRow;

const { 
  title, 
  description, 
  variant,
  type,
  image,
  year,
  link = {
    href: null,
    target: '_blank',
  },
  roles,
  studySlug,
  hasBorder = false,
  classes = '',
  isComingSoon = false,
  index
} = Astro.props;

const Element = isComingSoon ? 'div' : 'a';
const props = 
  isComingSoon 
    ? {} 
    : studySlug 
      ? { href: `study/${studySlug}`, target: '_self' } 
      : link 

const rightArrowIconClasses = 
  `inline-block shrink-0 -mt-px mr-[4px] -ml-px  ${isComingSoon ? 'opacity-50' : ''}`;

const upRightArrowIconClasses = 
  `inline-block shrink-0 -mt-px  -ml-px mr-[4px] ${isComingSoon ? 'opacity-50' : ''}`;
---

{variant === 'card' ? (
  <Element
    {...props}
    class={`
      group overflow-hidden block group relative gap-x-4 h-fit 
      ${!isComingSoon && 'p-1 pt-0.5 -m-1 -mt-0.5 rounded-[3px] transition duration-75 hover:bg-[#f0f0f0]'}
      ${isComingSoon ? 'cursor-not-allowed' : props.target === '_blank' ? 'cursor-alias' : 'cursor-pointer'}
      ${classes} 
    `}
  >
    <div class={`
      flex justify-between gap-4
    `}>
      <h3 aria-label={`${title} ${isComingSoon ? '(coming soon)' : ''}`}>{title}<sup class="">W{index}</sup> </h3>
      <span class="-mr-1.5 -ml-0.5">
        {studySlug ? (
          <RightArrowIcon classes={rightArrowIconClasses} />
        ) : (
          <UpRightArrowIcon classes={upRightArrowIconClasses} />
        )}
      </span>
    </div>
    <picture id={`work-pic`} class="relative h-auto overflow-hidden">
      <img
        src={image}
        alt={`Preview mockup of ${title}`}
        class={`
          w-full h-full object-top select-none object-contain rounded-[3px] 
          ${hasBorder ? 'border border-[#ececec]' : ''}
        `}
      />
      {isComingSoon && <ComingSoonBanner classes="-rotate-[12deg]" />}
    </picture>
  </Element>
) : (
  <Element
    {...props}
    class={`
      relative  group col-span-full 
      ${isComingSoon ? 'cursor-not-allowed' : props.target === '_blank' ? 'cursor-alias' : 'cursor-pointer'}
      ${classes}
    `}
  >
    <div class={isComingSoon ? 'text-black/40  hover:text-black' : 'hover:bg-[#eee] px-1 -mx-1 rounded-[3px] transition duration-75 '}>
      <div class={`
        grid grid-cols-12 gap-x-4
        ${isComingSoon ? 'group-hover:hidden group-focus:hidden' : ''}
      `}>

        <div class="shrink-0 whitespace-nowrap font-black uppercase  col-span-4 md:col-span-2 h-fit">
          {title}<sup>W{index}</sup>
        </div>
        <p class=" inline-block text-right xs:text-left col-span-7 md:col-span-4 truncate -mr-3 xs:mr-0">
          {description}
        </p>
        <div class="hidden md:flex gap-1 col-span-full sm:col-span-3 ml-4.5">
          <span>{roles.long.join(', ')}</span>
        </div>
        <div class="hidden md:inline-block col-span-2 ">
          {type}
        </div>
        <div class="flex gap-4 text-[11px] col-span-1 justify-self-end ">
          <span class="hidden xs:inline-block">{isComingSoon ? "—" : year}</span>
          <span class="-mr-1.5 -ml-0.5">
            {studySlug ? (
              <RightArrowIcon classes={rightArrowIconClasses} />
            ) : (
              <UpRightArrowIcon classes={upRightArrowIconClasses} />
            )}
          </span>
        </div>
        {/* <div class="col-span-full flex gap-1 my-1">
          <img src="/work/formie/s3.png" class="h-full max-h-[92px]" />
          <img src="/work/formie/s3.png" class="h-full max-h-[92px]" />
          <img src="/work/formie/s3.png" class="h-full max-h-[92px]" />
          <img src="/work/formie/s3.png" class="h-full max-h-[92px]" />
        </div> */}
      </div>
      {isComingSoon && (
        <div class="h-4 hidden group-hover:flex group-focus:block">
          <ComingSoonBanner classes="text-black opacity-1" />
        </div>
      )}
    </div>
  </Element>
)}