---
import ComingSoonBanner from './ComingSoonBanner.astro'

export interface Props {
  title: string;
  description: string;
  image: string;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  isComingSoon?: boolean;
  classes?: string;
}

const { 
  link,
  title, 
  description, 
  image,
  classes = '',
  isComingSoon = false,
} = Astro.props;
---

<a
  href={!link || isComingSoon ? '#' : link.href}
  target={!link?.target || isComingSoon ? '_self' : link.target}
  class={`
    group overflow-hidden relative gap-1 flex flex-col h-fit col-span-2
    ${!link || isComingSoon ? 'cursor-default' : 'cursor-pointer'} 
    ${classes} 
  `}
>
  {isComingSoon && <ComingSoonBanner/>}
  <div class="col-span-full flex flex-wrap justify-between gap-x-6 ">
    <p>[{title}]</p>
    <p>{description}</p>
  </div>
  <picture class='relative h-auto col-span-full group-hover:brightness-[95%] '>
    <img
      src={image}
      alt={`Preview mockup of ${title}`}
      class='w-full h-full object-top select-none object-contain'
    />
  </picture>
</a>
