---
export interface Props {
	href: string;
	title: string;
	description: string;
	roles: string[];
	tools: string[];
	year: number;
	image?: string;
	company?: string;
	collaborators?: {
		name: string;
		href: string;
		role: string;
	}[];
}

const { 
	href, 
	title,
	description,
	roles,
	image,
	company,
	collaborators,
	tools,
	year
} = Astro.props;
---
<a 
	href={href}
	class="group grid grid-cols-12 gap-y-5 p-5 border-b-[0.5px] border-gray-darkest hover:bg-gray-dark focus:bg-gray-dark"
>
	<img src="/work/memiori/cover.png" class="col-span-full sm:hidden aspect-video object-cover w-full"/>
	
	<div class="col-span-full sm:col-span-6 flex flex-col gap-y-5 justify-between w-full sm:pr-5">
		<div class="flex flex-col gap-y-2">
			<div class="flex justify-between gap-x-5">
				<h2 class="text-3xl xl:text-4xl 2xl:text-5xl tracking-[-0.03em]">
					{title}
				</h2>
				<p class="sm:hidden text-sm leading-5">2021</p>
			</div>
			<p>{description}</p>
		</div>
		<div class="flex flex-col gap-5">
			<p class="sm:hidden">{roles.join(', ')}</p>
			<table class="flex flex-col w-full" cellspacing="0" cellpadding="0">
				{company ? (
					<tr>
						<td class="pr-5"><p>For</p></td>
						<td><p>{company}</p></td>
					</tr>
				) : null}
				{tools ? (
					<tr>
						<td class="pr-5"><p>Tools</p></td>
						<td><p>{tools.join(', ')}</p></td>
					</tr>
				) : null}
				{collaborators ? (
					<tr>
						<td class="pr-5">Collaborators</td>
						<td>
							{collaborators.map(({ name, href, role }) => (
								<p>
									<span>{name}</span>
									<span>({role})</span>
								</p>
							))}
						</td>
					</tr>
				) : null}
			</table>
		</div>
	</div>
	<div class="hidden sm:flex flex-col gap-2 col-span-6">
		<div class="flex items-baseline justify-between gap-5">
			<p>{roles.join(', ')}</p>
			<p class="text-sm">{year}</p>
		</div>
		<img src="/work/memiori/cover.png" class="hidden sm:block aspect-video object-cover w-full"/>
	</div>
</a>
