---
export interface Props {
	href: string;
	title: string;
	description: string;
	roles: string[];
	year: number;
	image?: string;
	// titleTightness?: 'normal' | 'tight';
}

const { 
	href, 
	title,
	description,
	year,
	image,
	titleTightness = 'normal',
} = Astro.props;
---
<!-- <a 
	href={href}
	class="relative group col-span-full flex flex-col gap-5 sm:gap-10 pt-5 border-t-[0.5px] border-black"
>	 -->
<a 
	href={href}
	class="relative group col-span-full flex flex-col gap-5"
>	
	<div class="grid grid-cols-12 gap-4 lg:gap-20">
		<h2 class={`
			${titleTightness === 'tight' ? 'tracking-[-0.175em]' : null}
			 col-span-full sm:col-span-4 font-bodoni uppercase text-[28px] sm:text-[40px] leading-6 sm:leading-8 
		`}>
			{title}
		</h2>
		<p class="col-span-9 sm:col-span-8 -my-1 leading-5 sm:max-w-[280px]">{description}</p>
		<p class="absolute right-0 -my-0.5 leading-3 text-[12px] text-right">{year}</p>
	</div>
	<img src="/work/memiori/cover.png" class="col-span-full aspect-video object-cover w-full sm:h-full"/>
</a>
