---
import ResponsiveImage from './ResponsiveImage.astro';
import ExternalLinkArrow from './icons/ExternalLinkArrow.astro';
import ScrollingBanner from './ScrollingBanner.astro'

type Work = {
  title: string;
  description: string;
  roles: string[];
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  year: string;
  image: {
    src: string;
    previewSrc: string;
    alt: string;
    width: string;
    height: string;
  };
  type: string;
  isHidden?: boolean;
  studySlug?: string;
  isPrivate?: boolean;
  isComingSoon?: boolean;
  isArchived?: boolean;
  classes?: string;
}

export interface Props extends Work {
  attributes?: Record<string, string | null>;
}

const { 
  title, 
  description, 
  type,
  image,
  year,
  link = {
    href: null,
    target: '_self',
  },
  roles,
  isHidden = true,
  studySlug,
  isPrivate = false,
  classes = '',
  isComingSoon = false,
  isArchived = false,
  attributes = {},
} = Astro.props;

const shouldDisable = isComingSoon || isPrivate || isArchived;

const Element = shouldDisable ? 'div' : 'a';
const props = shouldDisable
    ? {} 
    : studySlug 
      ? { href: `/study/${studySlug}`, target: '_self' } 
      : link 

const aspect = image.height / image.width;
---
<Element
  {...props}
  {...attributes}
  class={`
    xs:col-span-6 md:col-span-4 xl:col-span-3 work-card relative group col-span-full text-pretty hover:bg-transparent !hover:opacity-1 !focus:opacity-1 -mx-2 lg:hover:opacity-50
    ${!isHidden ? 'active' : ''}
    ${shouldDisable ? 'disabled cursor-not-allowed' : 'cursor-pointer'}
    ${classes}
  `}
>
  <div class='flex flex-col gap-2  h-full overflow-hidden'>
    <picture class={`work-card-picture relative h-auto !group-focus:opacity-100 duration-300`}>
      <ResponsiveImage {...image} transitionDelay={0} />
      {isArchived && <ScrollingBanner title='Archive' classes="-rotate-[12deg]" />}
      {isComingSoon && <ScrollingBanner title='Soon' classes="-rotate-[12deg]" />}
      {isPrivate && <ScrollingBanner title='Private' classes="-rotate-[12deg]" />}
    </picture> 
    <div class="uppercase work-card-content flex flex-col duration-300 -my-0.5 mx-2">
      <div>
        <h2 class="flex shrink-0 whitespace-nowrap">
          {title}
          {link.href && link.target === '_blank' && !shouldDisable && !studySlug && (
            <ExternalLinkArrow classes="-ml-px shrink-0" />
          )}
        </h2>
        <p class="">{description}</p>
      </div>
      <div class="">
        <p>{roles.join(', ')}</p>
        <p class="">{type}</p>
        <p>{year}</p>
      </div>
    </div>
  </div>
</Element>

<style>
  .work-card.disabled .work-card-content {
    opacity: 0.4;
  }
  .work-card.disabled.active .work-card-content {
    opacity: 1;
  }

  .work-card .work-card-picture {
    opacity: 0;
  }

  .work-card.active .work-card-picture {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const workCards: NodeListOf<HTMLElement> = document.querySelectorAll('.work-card');

    const showIntersectingCards = (cards: NodeListOf<HTMLElement>) => {
      cards.forEach(card => {
        const rect = card.getBoundingClientRect();
        const middleOfScreen = window.innerHeight / 2;
        const cardMiddle = rect.top + (rect.height / 2);

        if (cardMiddle > (middleOfScreen - (middleOfScreen * 0.8)) &&
          cardMiddle < (middleOfScreen + (middleOfScreen * 0.8))) {
          card.classList.add('active');
        } else {
          card.classList.remove('active');
        }
      });
    }

    if (window.innerWidth >= 1040) {
      workCards.forEach(card => {
        let timer: any;

        card.addEventListener('mouseenter', () => {
          card.classList.add('active');

          clearTimeout(timer);
          timer = setTimeout(() => {
            card.classList.remove('active');
          }, 5000);
        });
      });
    }

    if (window.innerWidth < 1040) {
      showIntersectingCards(workCards);
      window.addEventListener('scroll', () => {
        showIntersectingCards(workCards);
      });
    }
  });
</script>