---
import DancingLetters from './DancingLetters.astro';
import RightArrowIcon from './icons/RightArrowIcon.astro';
import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
import ComingSoonBanner from './ComingSoonBanner.astro'

type Roles = {
  long: string[],
  short: string[];
}

type Work = {
  title: string;
  description: string;
  roles: Roles;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  year?: string;
  image?: string;
  type?: string;
  studySlug?: string;
  isComingSoon?: boolean;
  classes?: string;
}

type WorkCard = {
  variant: 'card';
  image: string;
} & Work;

type WorkRow = {
  variant: 'row';
  type: string;
  year: string;
} & Work;

export type Props = WorkCard | WorkRow;

const { 
  title, 
  description, 
  variant,
  type,
  image,
  year,
  link = {},
  roles,
  studySlug,
  classes = '',
  isComingSoon = false,
} = Astro.props;

const Element = isComingSoon ? 'div' : 'a';
const props = 
  isComingSoon 
    ? {} 
    : studySlug 
      ? { href: `study/${studySlug}`, target: '_self' } 
      : link 

const rightArrowIconClasses = 
  `inline shrink-0 mr-[4px] -ml-px  ${isComingSoon ? 'opacity-50' : ''}`;

const upRightArrowIconClasses = 
  `inline shrink-0 -ml-px mr-[4px] ${isComingSoon ? 'opacity-50' : ''}`;

---
{variant === 'card' ? (
  <Element
    {...props}
    class={`
      transition-all duration-75 group col-span-1 overflow-hidden block group relative gap-x-4 h-fit border-t border-neutral-700
      ${isComingSoon ? 'cursor-not-allowed' : ''}
      ${classes} 
    `}
  >
    <div class={`
      flex flex-wrap justify-between xs:grid sm:flex md:grid grid-cols-12 md:grid-cols-6 gap-x-4 py-1
      ${!isComingSoon && 'group-hover:bg-neutral-750'}
    `}>
      <div class="flex gap-0.5 items-center h-fit col-span-6 md:col-span-2">
        {studySlug 
          ? <RightArrowIcon classes={rightArrowIconClasses} /> 
          : <UpRightArrowIcon classes={upRightArrowIconClasses} />
        }
        <h3 
          aria-label={`${title} ${isComingSoon ? '(coming soon)' : ''}`}
          class="whitespace-nowrap"
        >
          <span class="group-hover:hidden">{title}</span>
          <DancingLetters title={title} classes='hidden group-hover:inline'/>
        </h3>
      </div>
      <div class="flex justify-between gap-4 col-span-6 md:col-start-3 md:col-span-4">
        <p>{description}</p>
        <div class="hidden md:flex items-center gap-0.5">
          <span class={`${roles.short.includes('Design') ? '' : 'opacity-50'}`}>
            D
          </span>
          <span class={`${roles.short.includes('Brand') ? '' : 'opacity-50'}`}>
            B
          </span>
          <span class={`${roles.short.includes('Dev') ? '' : 'opacity-50'}`}>
            D
          </span>
        </div>
      </div>
    </div>
    <picture class={`
      relative h-auto
    `}>
      <img
        src={image}
        alt={`Preview mockup of ${title}`}
        class={`
          w-full h-full object-top select-none object-contain
          ${isComingSoon ? 'group-hover:blur-[0.1em] transition duration-[275ms]' : ''}
        `}
      />
      {isComingSoon && <ComingSoonBanner classes='transform -rotate-12' />}
    </picture>
  </Element>
) : (
  <Element
    {...props}
    class={`
      group transition-all duration-75 border-t border-neutral-700 py-1 col-span-full grid grid-cols-12 gap-x-4
      ${isComingSoon ? 'cursor-not-allowed' : 'hover:bg-neutral-750'}
      ${classes}
    `}
  >
    <div class="order-1 md:order-none flex gap-0.5 items-center col-span-6 md:col-span-2 h-fit">
      {studySlug 
        ? <RightArrowIcon classes={rightArrowIconClasses} /> 
        : <UpRightArrowIcon classes={upRightArrowIconClasses} />
      }
      <p class="group-hover:hidden whitespace-nowrap">{title}</p>
      <DancingLetters title={title} classes='hidden group-hover:inline whitespace-nowrap'/>
    </div>
    <p class=" order-4 md:order-none col-span-full xs:col-span-6 md:col-span-4">
      {description}
    </p>
    <div class="flex gap-1 order-5 md:order-none col-span-full xs:col-span-5  md:col-span-4 ml-4.5">
      <span>{roles.long.join(', ')}</span>
    </div>
    <p class="col-span-3 md:col-span-1 order-2 md:order-none capitalize">
      {type}
    </p>
    <div class="col-span-3 md:col-span-1 order-3 md:order-none justify-self-end">
      {isComingSoon ? (
        <DancingLetters 
          title="Coming Soon" 
        />
      ) : year}
    </div>
  </Element>
)}