---
import RightArrowIcon from './icons/RightArrowIcon.astro';
import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
import ScrollingBanner from './ScrollingBanner.astro'
import { filters } from '../lib/filters.ts';

type Roles = {
  long: string[],
  short: string[];
}

type Work = {
  title: string;
  description: string;
  roles: Roles;
  link?: {
    href: string;
    target?: '_blank' | '_self';
  };
  year: string;
  image: string;
  type: string;
  studySlug?: string;
  isPrivate?: boolean;
  isComingSoon?: boolean;
  classes?: string;
}

const { 
  title, 
  description, 
  type,
  image,
  year,
  link = {
    href: null,
    target: '_blank',
  },
  roles,
  studySlug,
  isPrivate = false,
  classes = '',
  isComingSoon = false,
} = Astro.props;

const Element = isComingSoon ? 'div' : 'a';
const props = 
  isComingSoon || isPrivate
    ? {} 
    : studySlug 
      ? { href: `study/${studySlug}`, target: '_self' } 
      : link 
---
<Element
  {...props}
  class={`
    relative group col-span-full xs:col-span-4 lg:col-span-2 hover:bg-transparent
    ${isComingSoon || isPrivate ? 'cursor-not-allowed' : 'cursor-pointer'}
    ${classes}
  `}
>
  <div class={`overflow-hidden ${isComingSoon || isPrivate ? 'text-gray-800/40  hover:text-gray-800' : ''}`}>
    <div>
      <div class="flex justify-between gap-[5px]">
        <h2 class="uppercase shrink-0 whitespace-nowrap">
          {title}
        </h2>
        <div class="relative flex items-center gap-[4px] ">
          <div class="flex">
            {studySlug ? (
              <span 
                class="shrink-0 border border-white rounded-full h-[7px] w-[7px]"
                style={`background-color: ${filters["case-study"]}`}
              ></span>
            ) : null}
            {type === "client" ? (
              <span 
                class="shrink-0 border border-white rounded-full h-[7px] w-[7px] -ml-0.5 first:m-0"
                style={`background-color: ${filters["client"]}`}
              ></span>
            ) : null}
            {type === "project" ? (
              <span 
                class="shrink-0 border border-white rounded-full h-[7px] w-[7px] -ml-0.5 first:m-0"
                style={`background-color: ${filters["project"]}`}
              ></span>
            ) : null}
          </div>
          <span class="truncate">
            {isPrivate ? (
              "Private"
            ) : isComingSoon ? (
              "Coming Soon"
            ) : studySlug ? (
              <RightArrowIcon classes="group-hover:translate-x-px -mr-[2px]" />
            ) : (
              <UpRightArrowIcon classes="group-hover:-translate-y-px group-hover:translate-x-px -mr-[2px]" />
            )}
          </span>
        </div>
      </div>
      <p>{description}</p>
      <p>{roles.long.join(', ')}</p>
      <p class="capitalize">{type}</p>
      <p>{year}</p>
    </div>
    <picture id="work-pic" class={`relative h-auto  opacity-0 group-hover:opacity-100`}>
      <img
        src={image}
        alt={`Preview mockup of ${title}`}
        class={`
          w-full h-full object-top select-none object-contain 
        `}
      />
      {isComingSoon && <ScrollingBanner title='Coming Soon' classes="-rotate-[12deg]" />}
      {isPrivate && <ScrollingBanner title='Private' classes="-rotate-[12deg]" />}
    </picture> 
    <!-- {(isPrivate || isComingSoon) && (
      <div class="h-3 hidden group-hover:flex items-center justify-center group-focus:block">
        <ScrollingBanner title={ isPrivate ? 'Private' : 'Coming Soon'} classes="text-gray-800 opacity-1" />
      </div>
    )} -->
  </div>
</Element>