---
import Link from './Link.astro';
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
  index?: number;
}

const { title, href, date, index } = Astro.props;

const formattedDate = formatDate(date);
---

<a href={href} class="grid grid-cols-12 gap-[15px] transition duration-75 hover:bg-[#e1e1e1]  px-[3px] -mx-[3px] ">
  <span class="col-span-3 md:col-span-2">{formattedDate}</span>
  <h2 class="col-span-8 md:col-span-10">{title}<sup>W{index}</sup></h2>
</a>
<!-- <a 
  href={href}
  class="grid grid-cols-12 hover:bg-black hover:text-white gap-[15px]"
>
  <span class="flex col-span-3 md:col-span-2 text-[11px] font-bold">{formattedDate}</span>
  <span class="col-span-8 md:col-span-10">{title}</span>
</a> -->