---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
  index?: number;
}

const { title, href, date, index } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="grid grid-cols-12  hover:bg-neutral-750 gap-4"
>
  <span class="col-span-4 md:col-span-2 text-[11px] font-bold">{formattedDate}</span>
  <h2 class="col-span-8 md:col-span-10">{title}<sup>W{index}</sup></h2>
</a>
<!-- <a 
  href={href}
  class="grid grid-cols-12 hover:bg-neutral-750 gap-4"
>
  <span class="flex col-span-4 md:col-span-2 text-[11px] font-bold">{formattedDate}</span>
  <span class="col-span-8 md:col-span-10">{title}</span>
</a> -->