---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Work from "../../components/Work.astro";
import { getCollection } from 'astro:content';

const works = await getCollection('work', ({ data: { isDraft } }) => !isDraft);
---

<Layout title="Work">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6 px-4 sm:px-6">
    <Header />
    <main class="col-span-full columns-1 md:columns-2 gap-6 space-y-5 lg:space-y-6">
      {works.map((work) => (
        <Work
          title={work.data.title}
          link={work.data.link}
          image={work.data.image}
          description={work.data.description}
          isComingSoon={work.data.isComingSoon}
        />
      ))}
    </main>
  </div>
</Layout>
