---
const {frontmatter} = Astro.props;
---
<html class="bg-neutral-900">
  <section class="bg-neutral-800 p-6">
    <div class="flex justify-between gap-x-6 gap-y-4 w-full">
      <span class="leading-[16px] text-[10px] font-ibm text-neutral-400 uppercase tracking-wider ">
        Case Study
      </span>
      <h1 class="italic leading-[28px] md:leading-[36px]  text-4xl md:text-5xl tracking-tight">
        {frontmatter.title}
      </h1>
    </div>
    <h2>{frontmatter.roles}</h2>
    <p>{frontmatter.company}</p>
    {frontmatter.bullets && (
      <ul class="list-disc list-inside">
        {frontmatter.bullets.map((bullet: string) => (
          <li>{bullet}</li>
        ))}
      </ul>
    )}
  </section>
  <main class="max-w-prose text-lg text-gray-400">
    <slot />
  </main>
</html>