---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
const {
  title,
  type,
  tldr,
  description,
  roles,
  year,
  link,
  tools,
  teammates,
} = frontmatter;

const titleLength = `${22.5 - title.length}vw`;
---

<Layout title={title} description={description} maxWidth="max-w-none">
  <main class="relative col-span-full grid grid-cols-12 gap-4">
    <Header />
    <section id="hero" class=' col-span-full grid grid-cols-12 gap-4 border-neutral-white'>
      <div class="border-t-4 border-b py-4 relative grid grid-cols-12 gap-y-4 gap-x-4  col-span-full">
        <p class="absolute top-2 right-0 md:left-0 mix-blend-difference col-span-full md:col-span-1 ">W1</p>
        <h1 
          id="study-title" 
          class="font-black uppercase  col-span-full md:col-start-3 md:col-span-9 -ml-[0.6vw]"
          style={{ 
            fontSize: `clamp(36px, ${titleLength}, 100px)`,
            lineHeight: "0.753",
          }}
        >
          {title}
        </h1>
      </div>
      <div class="border-b pb-4 grid grid-cols-12 gap-y-2 gap-x-4 col-span-full">
        <div class="grid grid-cols-12  col-span-full  gap-x-4">
          <p class="col-span-4 md:col-span-2 text-left">
            tldr
          </p>
          <span class="col-span-8">
            <p class="col-span-full col-start-5 text-balance">{description}</p>
          </span>
        </div>
        <div class="jusitfy-self-start h-fit col-span-full  grid grid-cols-12  gap-x-4 ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500">Year</p>
          <p class="col-span-8 ">{year}</p>
        </div>
        <div class="jusitfy-self-start h-fit col-span-full  grid grid-cols-12  gap-x-4 ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500">Type</p>
          <p class="col-span-8 ">{type}</p>
        </div>
        <div class="jusitfy-self-start h-fit col-span-full  grid grid-cols-12  gap-x-4 ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500">Roles</p>
          <p class="col-span-8 ">{roles?.join(', ')}</p>
        </div>
        <div class="col-span-full  grid grid-cols-12  gap-4 ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500">Tools</p>
          <p class="col-span-8 ">{tools?.join(', ')}</p>
        </div>
        <div class="col-span-full  grid grid-cols-12  gap-4 ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500">Team</p>
          <ul class="flex flex-col col-span-8">
            {teammates ? teammates.map((teammate: { name: string, role: string, href: string }) => (
              <li>
                <a href={teammate.href} class="underline">{teammate.name}</a> ({teammate.role})
              </li>
            )) : "—"}
          </ul>
        </div>
        <div class="grid grid-cols-12  gap-x-4 col-span-full ">
          <p class="text-left col-span-4 md:col-span-2 border-neutral-500md:">Problem</p>
          <p class="col-span-8 text-balance">{tldr?.problem || "—"}</p>
        </div>
        <div class="grid grid-cols-12  gap-x-4 col-span-full ">
          <p class="text-left col-span-4 md:col-span-2">Solution</p>
          <p class="col-span-8 text-balance">{tldr?.solution || "—"}</p>
        </div>
        <div class="grid grid-cols-12  gap-x-4 col-span-full ">
          <p class="text-left col-span-4 md:col-span-2">Decisions</p>
          <ul class="col-span-8 text-balance">
            {tldr?.decisions?.map((decision: string, index: number) => 
              <li>[<span class="tabular">{index + 1}</span>] {decision}</li>
            ) || "—"}
          </ul>
        </div>
        <div class="grid grid-cols-12  gap-x-4 col-span-full ">
          <p class="text-left col-span-4 md:col-span-2">Tradeoffs</p>
          <ul class="col-span-8 text-balance">
            {tldr?.tradeoffs?.map((tradeoff: string, index: number) => 
              <li>[<span class="tabular">{index + 1}</span>] {tradeoff}</li>
            ) || "—"}
          </ul>
        </div>
      </div>
    </section>
    
    <article
      id="article"
      class="w-full mx-auto col-span-full overflow-visible scroll-mt-6"
    >
      <div
        class={`
          -all prose-a:underline prose-a:decoration-[0.07em] hover:prose-a:no-underline hover:prose-a:bg-neutral-700

          prose-ul:list-disc prose-ul:max-w-prose prose-ul:pl-[18px]
          prose-ul:-my-0.5 prose-ul:text-neutral-300

          prose-ol:list-inside prose-ol:list-decimal prose-ol:max-w-prose prose-ol:pl-[22px] prose-ol:-my-0.5 prose-ol:text-neutral-300

          prose-li:list-item
          prose-li:list-outside
          prose-li:pl-0.5
          prose-li:m-0
          prose-li:leading-4
          marker:prose-li:text-[11.5px]
          marker:prose-li:font-inter
          
          prose-figure:w-auto prose-figure:select-none prose-figure:my-0 
          prose-video:w-auto prose-video:select-none	prose-video:my-0 

          prose-td:p-0

          grid grid-cols-12 gap-x-4 gap-y-8 mt-5
        `}
      >
        <slot />
      </div>
    </article>
    <hr class="h-px border-t  col-span-full my-24"/>
    <footer class="col-span-full mb-24">
      READ MORE
    </footer>
  </main>
</Layout>