---
import Layout from "./Layout.astro";
import XIcon from "../components/icons/XIcon.astro";

const { frontmatter } = Astro.props;
const {
  title,
  type,
  tldr,
  description,
  roles,
  year,
  link,
  tools,
  teammates,
} = frontmatter;
---

<Layout title={title} description={description}>
  <div class=" relative grid grid-cols-16 gap-x-15 gap-30"> 
    <a href="/" class="group fixed -top-[2px] right-[0px] mix-blend-exclude z-50 p-15 hover:bg-transparent focus:bg-transparent">
      <XIcon classes='shrink-0 text-neutral-700 dark:text-neutral-300 group-hover:opacity-50' />
    </a>
    <aside class='grid col-span-full grid-cols-16 gap-15 divide-neutral-800 dark:divide-neutral-300'>
      <div class="mb-15 md:mb-0 grid lg:flex flex-col grid-cols-16 md:grid-cols-1 md:row-span-3 lg:row-span-1 gap-15 col-span-full md:col-span-4 lg:col-span-2 lg:order-1">
        <div class="flex flex-col gap-15 col-span-10">
          <h1>{title}</h1>
          <p class="text-balance col-span-8 pr-15">{description}</p>
        </div>
        <div class="flex flex-col lg:hidden justify-between col-span-6">
          <div>
            <p class="capitalize">{type}</p>
            <p>{year}</p>
          </div>
          {link && <a href={link.href} target="_blank" class="block lg:hidden underline col-span-4">Live site</a>}
        </div>
        <!-- {link && <a href={link.href} target="_blank" class="block lg:hidden underline col-span-4">Live site</a>} -->
      </div>
      <div class="[&>*]:max-w-[250px] 2xl:[&>*]:max-w-none grid grid-cols-2 md:grid-cols-12 lg:grid-cols-9 md:col-start-5 gap-15 border-neutral-800 dark:border-neutral-300  col-span-10 md:col-span-12 lg:col-span-9 lg:order-2">
        <div class="flex flex-col gap-15 col-span-4 lg:col-span-3 pr-30">
          <div class="flex flex-col gap-15">
            <p>Problem</p>
            <p class="text-balance">{tldr?.problem || "—"}</p>
          </div>
          <div class="flex flex-col gap-15 col-span-4 lg:col-span-3">
            <p>Solution</p>
            <p class="text-balance">{tldr?.solution || "—"}</p>
          </div>
        </div>
        <div class="flex flex-col gap-15 col-span-4 lg:col-span-3 pr-30">
          <p>Decisions</p>
          <ul class="text-balance md:-ml-[16px]">
            {tldr?.decisions?.map((decision: string, index: number) => 
              <li class="flex gap-5 md:gap-10">
                <span>{index + 1}</span>
                <span>{decision}</span>
              </li>
            ) || "—"}
          </ul>
        </div>
        <div class="flex flex-col gap-15 col-span-4 lg:col-span-3 pr-30">
          <p>Tradeoffs</p>
          <ul class="col-span-8 text-balance md:-ml-[16px]">
            {tldr?.tradeoffs?.map((tradeoff: string, index: number) => 
              <li class="flex gap-5 md:gap-10">
                <span>{index + 1}</span>
                <span>{tradeoff}</span>
              </li>
            ) || "—"}
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-15 col-span-6 md:col-span-12 md:col-start-5 lg:col-start-13 md:row-span-2 lg:row-span-1 lg:order-3">
        <div class="flex flex-col gap-15">
          <p>Roles</p>
          <ul>
            {roles?.map((role: string) => <li>{role}</li>)}
          </ul>
        </div>
        <div class="flex flex-col gap-15">
          <p>Tools</p>
          <ul>
            {tools?.map((tool: string) => <li>{tool}</li>)}
          </ul>
        </div>
        <div class="flex flex-col gap-15">
          <p>Team</p>
          <ul>
            {teammates ? teammates.map((teammate: { name: string, role: string, href: string }) => (
              <li>
                <a href={teammate.href} class="underline">{teammate.name}</a> ({teammate.role})
              </li>
            )) : "—"}
          </ul>
        </div>
      </div>
      <p class="hidden lg:block lg:order-4 capitalize col-span-2">{type}</p>
      <p class="hidden lg:block lg:order-5 col-span-3">{year}</p>
      {link && <a href={link.href} target="_blank" class="lg:order-6 hidden lg:block underline col-span-2">Live site</a>}
    </aside>
    <!-- <hr class="col-span-full" /> -->
    <article
      id="article"
      class="pb-[120px] w-full col-span-full overflow-visible scroll-mt-3 mx-auto"
    >
      <div
        class={`
          grid grid-cols-16 gap-x-15 gap-30
          prose-a:underline prose-a:decoration-[0.07em] hover:prose-a:no-underline focus:prose-a:ring-2 focus:prose-a:ring-green
          prose-ul:list-disc prose-ul:max-w-prose prose-ul:pl-[18px] prose-ul:-my-0.5 
          prose-ol:list-inside prose-ol:list-decimal prose-ol:max-w-prose prose-ol:pl-[22px] prose-ol:-my-0.5
          prose-li:list-item
          prose-li:list-outside
          prose-li:pl-0.5
          prose-li:m-0
          prose-li:leading-3
          marker:prose-li:text-[11.5px]
          marker:prose-li:font-inter
          prose-figure:w-auto prose-figure:select-none prose-figure:my-0 
          prose-video:w-auto prose-video:select-none	prose-video:my-0 
          prose-td:p-0
          [&>*]:col-span-full lg:[&>*]:col-start-3 lg:[&>*]:col-span-12
        `}
      >
        <slot />
      </div>
    </article>
    
  </div>
</Layout>

<style>
  #study-title {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    animation: spin 120s infinite 0s linear;
    z-index: 100;
    scale: 1
  }

  #study-title span {
    position: absolute;
    background-color: green;
    color: white;
    transition: all 1s;
  }

  @keyframes spin {
    0% {
      transform: rotateX(40deg) rotateY(0deg) ;
    }
    50% {
      transform: rotateX(80deg) rotateY(360deg) ;
    }
    100% {
      transform: rotateX(10deg) rotateY(0deg) ;
    }
  }
  /* @keyframes spin {
    0% {
      transform: rotateX(37deg) rotateY(123deg) rotateZ(45deg);
    }
    50% {
      transform: rotateX(82deg) rotateY(275deg) rotateZ(19deg);
    }
    100% {
      transform: rotateX(14deg) rotateY(93deg) rotateZ(27deg);
    }
  } */
</style>