---
import Layout from "./Layout.astro";
import ExternalLinkArrow from "../components/icons/ExternalLinkArrow.astro";
import Work from "../components/Work.astro";
import { getCollection } from 'astro:content';

const { frontmatter } = Astro.props;
const {
  title,
  type,
  tldr,
  description,
  roles,
  year,
  link,
  image,
  tools,
  teammates,
} = frontmatter;

const currentStudySlug = Astro.url.pathname.split('/').pop();

const otherCaseStudies = await getCollection('work', (
  { 
    data: { isArchived, isComingSoon, studySlug, isDraft } 
  }
) => (
  studySlug && !isDraft && !isComingSoon && !isArchived && studySlug !== currentStudySlug
  ));
---

<Layout title={title} description={description}>
  <div class="border-t-[0.5px] border-black dark:border-white pt-2 relative grid grid-cols-12 col-span-full gap-4 md:gap-y-8">
    <div class="lg:order-2 flex flex-col gap-4  col-span-full md:col-span-9 lg:col-span-6 xl:col-span-4">
      <h1 class="text-[34px] leading-[32px]  uppercase font-bold -my-0.5">{title}</h1>
      <p class="text-pretty -my-0.5">{description}</p>
    </div>
    <div class="md:col-start-1 lg:col-start-auto lg:order-1 col-span-full md:col-span-3 lg:col-span-2 flex flex-col lg:gap-4 pr-[calc((100vw/24)-16px)]">
      <div class="lg:-my-0.5 ">
        <div class="flex col-span-3 ">
          <div class="uppercase shrink-0  w-16 ">Type</div>
          <div class="capitalize">{type}</div>
        </div>
        <div class="flex col-span-2">
          <div class="uppercase shrink-0  w-16 ">Year</div>
          <div class="">{year}</div>
        </div>
      </div>
      <div class="flex col-span-2 lg:-my-0.5 ">
        <div class="uppercase shrink-0  w-16 ">Links</div>
        {link ? (
          <div class="flex flex-col">
            <a href={link} class="flex ">
              <span class="whitespace-nowrap ">Live Site</span>
              <ExternalLinkArrow classes="shrink-0" />
            </a>
          </div>
        ) : '—'}
      </div>
    </div>
    <div class="-my-0.5 lg:my-0 lg:order-3 hidden lg:flex xl:hidden flex-col  col-span-full md:col-span-8 lg:col-span-3 lg:col-start-10 lg:gap-4">
      <div class="flex lg:-my-0.5">
        <div class="uppercase w-16 shrink-0 ">Team</div>
        <table class="flex flex-col w-full" cellspacing="0" cellpadding="0">
          {teammates ? teammates.map((teammate: any) => (
            <tr>
              <td class="pr-7"><a href={teammate.href} class="whitespace-nowrap">{teammate.name}</a> </td>
              <td>{teammate.role}</td>
            </tr>
          )) : '—'}
        </table>
      </div>
      <div class="lg:-my-0.5">
        <div class="flex ">
          <div class="uppercase shrink-0 w-16 ">Roles</div>
          <p>{roles.join(', ')}</p>
        </div>
        <div class="flex">
          <div class="uppercase w-16 shrink-0 ">Tools</div>
          <p>{tools.join(', ')}</p>
        </div>
      </div>
    </div>
    <div class="order-4 md:order-3 flex lg:hidden xl:flex col-span-full md:col-span-5 xl:col-span-3 xl:col-start-8 lg:-my-0.5">
      <div class="uppercase w-16 shrink-0 ">Team</div>
      <table class="flex flex-col w-full" cellspacing="0" cellpadding="0">
        {teammates ? teammates.map((teammate: any) => (
          <tr>
            <td class="pr-7"><a href={teammate.href} class="whitespace-nowrap">{teammate.name}</a> </td>
            <td>{teammate.role}</td>
          </tr>
        )) : '—'}
      </table>
    </div>
    <div class="order-3 md:order-4  lg:hidden xl:block col-span-full md:col-span-4 xl:col-span-2 -my-0.5 pr-4">
      <div class="flex ">
        <div class="uppercase shrink-0 w-16 ">Roles</div>
        <p>{roles.join(', ')}</p>
      </div>
      <div class="flex">
        <div class="uppercase w-16 shrink-0 ">Tools</div>
        <p>{tools.join(', ')}</p>
      </div>
    </div>
  </div>
  <div class="col-span-full -mx-2 -mb-4 lg:-mb-6 border-y-[0.5px] border-neutral-250 dark:border-neutral-800">
    <img src={image} alt={title} class="  w-full h-full object-contain" />
  </div>
  <div id="content-list" class="col-span-full grid grid-cols-1 lg:grid-cols-12 gap-x-4 gap-y-4  border-black dark:border-white ">
    <p class="uppercase col-span-2 -my-0.5 ">Content</p>
    <div class="flex flex-col col-span-10 -my-0.5">
      <div class="flex gap-2">
        <div class="">1.00</div>
        <div class="uppercase">Problem</div>
      </div>
      <div class="flex gap-2">
        <div class="">2.00</div>
        <div class="uppercase">Solution</div>
      </div>
      <div class="flex gap-2">
        <div class="">3.00</div>
        <div class="uppercase">Shooing scammers</div>
      </div>
      <div class="flex gap-2">
        <div class="">4.00</div>
        <div class="uppercase">Making forms flexible</div>
      </div>
      <div class="flex gap-2">
        <div class="">5.00</div>
        <div class="uppercase">Communicating technical details</div>
      </div>
      <div class="flex gap-2">
        <div class="">6.00</div>
        <div class="uppercase">Tradeoffs</div>
      </div>
    </div>
  </div>
  <article
    id="article"
    class="relative w-full col-span-full overflow-visible scroll-mt-3 mx-auto pb-32 lg:pb-48"
  >
    <!-- <div id="content-menu" class="grid grid-cols-12 gap-x-4 gap-y-8 fixed right-2 left-2 top-[50px]   col-span-full z-40">
      <div id="content-slide" class="col-span-10 lg:col-span-4 overflow-hidden transition-all duration-300 ease-in-out h-0">
        <div class="flex gap-2">
          <div>1.00</div>
          <div class="uppercase">Problem</div>
        </div>
        <div class="flex gap-2">
          <div>2.00</div>
          <div class="uppercase">Solution</div>
        </div>
        <div class="flex gap-2">
          <div>3.00</div>
          <div class="uppercase">Shooing scammers</div>
        </div>
        <div class="flex gap-2">
          <div>4.00</div>
          <div class="uppercase">Making forms flexible</div>
        </div>
        <div class="flex gap-2">
          <div>5.00</div>
          <div class="uppercase">Communicating technical details</div>
        </div>
        <div class="flex gap-2">
          <div>6.00</div>
          <div class="uppercase">Tradeoffs</div>
        </div>
      </div>
      <button id="content-toggle" class="col-span-4 w-full p-2 -m-2.5 uppercase hover:opacity-100 text-right">
        <span class="-my-0.5">Content</span>
      </button>
    </div> -->
    <div
      class={`
        relative grid grid-cols-12 gap-x-4 gap-y-8
        prose-a:underline prose-a:decoration-[0.07em] hover:prose-a:no-underline focus:prose-a:ring-2 focus:prose-a:ring-green
        prose-ul:list-disc prose-ul:max-w-prose prose-ul:pl-[18px] prose-ul:-my-0.5 
        prose-ol:list-inside prose-ol:list-decimal prose-ol:max-w-prose prose-ol:pl-[22px] prose-ol:-my-0.5
        prose-li:list-item
        prose-li:list-outside
        prose-li:pl-0.5
        prose-li:m-0
        prose-li:leading-3
        prose-figure:w-auto prose-figure:select-none prose-figure:my-0 
        prose-video:w-auto prose-video:select-none	prose-video:my-0 
        prose-td:p-0
      `}
    >
      <slot />
    </div>
  </article>
  <div class="grid grid-cols-12 col-span-full gap-y-8 gap-x-4 pb-6">
    <div class="border-t-[0.5px] border-black dark:border-white pt-2 col-span-full ">
      <h2 class="uppercase -my-0.5">More Case Studies</h2>
    </div>
    {otherCaseStudies?.map(({ data: work }, index) => (
      <Work variant="row" {...work} index={index} />
    ))}
  </div>
</Layout>

<!-- <script>
  const contentToggle = document.getElementById('content-toggle');
  const contentList = document.getElementById('content-list');
  const contentMenu = document.getElementById('content-menu');

  let isOpen = false;

  contentToggle.addEventListener('click', () => {
    const contentSlide = contentToggle.parentElement?.querySelector('.content-slide');

    isOpen = !isOpen;
    if (isOpen) {
      contentSlide.style.height = `${contentSlide.scrollHeight}px`;
      contentToggle.textContent = 'Close';
    } else {
      contentSlide.style.height = '0';
      contentToggle.textContent = 'Content';
    }
  });

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        contentMenu.style.display = 'none';
      } else {
        contentMenu.style.display = 'grid';
      }
    });
  }, { threshold: 0 });

  observer.observe(contentList);
</script> -->