---
import Layout from "./Layout.astro";
import ExternalLinkArrow from "../components/icons/ExternalLinkArrow.astro";

const { frontmatter } = Astro.props;
const {
  title,
  type,
  tldr,
  description,
  roles,
  year,
  link,
  tools,
  teammates,
} = frontmatter;
---

<Layout title={title} description={description}>
  <div class=" text-neutral-500 dark:text-neutral-400 relative grid grid-cols-16 gap-x-15 gap-y-[30px] lg:gap-[60px]"> 
    <a href="/" class="group fixed -top-[5px] right-[0px] mix-blend-exclude z-50 p-15 hover:bg-transparent focus:bg-transparent uppercase text-[10px] font-bold tracking-wide leading-[15px]">
      Close
    </a>
    <aside class='grid col-span-full grid-cols-16 gap-15 -mt-5 '>
      <div class="grid grid-cols-8 md:grid-cols-4 col-span-8 md:col-span-4 gap-x-15">
        <div class="col-span-2 md:col-span-1">
          <p>Type</p>
          <p>Year</p>
        </div>
        <div class="col-span-6 md:col-span-3">
          <p class="capitalize">{type}</p>
          <p>{year}</p>
        </div>
      </div>
      <div class="md:col-start-5  col-span-2 md:col-span-1">Roles</div>
      <div class="md:col-span-3">
        <ul>
          {roles?.map((role: string) => <li>{role}</li>)}
        </ul>
      </div>
      <ul class="grid grid-cols-8 md:grid-cols-4 col-span-8 md:col-span-4 gap-x-15">
        {teammates ? teammates.map((teammate: { name: string, role: string, href: string }) => (
          <>
            <p class="col-span-2 md:col-span-1">{teammate.role}</p>
            <a href={teammate.href} class="col-span-6 md:col-span-3 underline">{teammate.name}</a>
          </>
        )) : "—"}
      </ul>
      <div class="col-start-9 md:col-start-auto col-span-2 md:col-span-1">Tools</div>
      <div class="col-span-3">
        <ul>
          {tools?.map((tool: string) => <li>{tool}</li>)}
        </ul>
      </div>
      <div class="grid grid-cols-16 col-span-full  lg:row-span-1 gap-15 my-15 lg:mt-[45px]">
        <div class="col-span-full md:col-span-12 -tracking-[0.025rem]">
          {link ? (
            <a href={link.href} target="_blank" class="flex group hover:bg-transparent focus:bg-transparent">
              <h1 class="text-neutral-800 dark:text-neutral-300 text-[24px] leading-[25px] md:text-[28px] md:leading-8 lg:text-[44px] lg:leading-[45px]">{title}</h1>
              <ExternalLinkArrow classes="h-[25px] md:h-[30px] lg:h-[35px] w-[25px] md:w-[45px] lg:w-[45px] stroke-4 group-hover:text-neutral-800 dark:text-neutral-300 group-focus:text-neutral-800 dark:text-neutral-300" />
            </a>
          ) : (
            <h1 class="text-neutral-800 dark:text-neutral-300 text-[24px] leading-[25px] md:text-[28px] md:leading-8 lg:text-[44px] lg:leading-[45px]">{title}</h1>
          )}
          <p class="text-neutral-400 dark:text-neutral-500 text-balance col-span-8 pr-15 text-[24px] leading-[25px] md:text-[28px] md:leading-8 lg:text-[44px] lg:leading-[45px]">{description}</p>
        </div>
      </div>
      <div class="[&>*>*:last-child]:pr-15 [&>*]:col-span-full xs:[&>*]:col-span-8 [&>*]:lg:col-span-4 [&>*]:border-t lg:[&>*]:border-none lg:border-t [&>*]:pt-5 lg:[&>*]:pt-0 lg:pt-10 col-span-full grid grid-cols-16 gap-15 border-neutral-300 dark:border-neutral-700 [&>*]:border-neutral-300 [&>*]:dark:border-neutral-700">
        <div class="flex lg:hidden flex-col  gap-10">
          <p>Problem</p>
          <p class="text-balance">{tldr?.problem || "—"}</p>
        </div>
        <div class="flex lg:hidden flex-col  gap-10">
          <p>Solution</p>
          <p class="text-balance">{tldr?.solution || "—"}</p>
        </div>
        <div class="hidden lg:flex flex-col gap-15">
          <div>
            <p>Problem</p>
            <p class="text-balance">{tldr?.problem || "—"}</p>
          </div>
          <div>
            <p>Solution</p>
            <p class="text-balance">{tldr?.solution || "—"}</p>
          </div>
        </div>
        <div class="flex flex-col gap-10">
          <p>Decisions</p>
          <ul class="text-balance col-span-3 ">
            {tldr?.decisions?.map((decision: string, index: number) => 
              <li class="flex gap-10">
                <span class="">{decision}</span>
              </li>
            ) || "—"}
          </ul>
        </div>
        <div class="flex flex-col gap-10">
          <p>Tradeoffs</p>
          <ul class="col-span-4 text-balance">
            {tldr?.tradeoffs?.map((tradeoff: string, index: number) => 
              <li class="flex gap-10">
                <span>{tradeoff}</span>
              </li>
            ) || "—"}
          </ul>
        </div>
      </div>
    </aside>
    <article
      id="article"
      class="pb-[120px] w-full col-span-full overflow-visible scroll-mt-3 mx-auto"
    >
      <div
        class={`
          grid grid-cols-16 gap-x-15 gap-y-30 lg:gap-y-[60px]
          prose-a:underline prose-a:decoration-[0.07em] hover:prose-a:no-underline focus:prose-a:ring-2 focus:prose-a:ring-green
          prose-ul:list-disc prose-ul:max-w-prose prose-ul:pl-[18px] prose-ul:-my-0.5 
          prose-ol:list-inside prose-ol:list-decimal prose-ol:max-w-prose prose-ol:pl-[22px] prose-ol:-my-0.5
          prose-li:list-item
          prose-li:list-outside
          prose-li:pl-0.5
          prose-li:m-0
          prose-li:leading-3
          marker:prose-li:text-[11.5px]
          marker:prose-li:font-inter
          prose-figure:w-auto prose-figure:select-none prose-figure:my-0 
          prose-video:w-auto prose-video:select-none	prose-video:my-0 
          prose-td:p-0
        `}
      >
        <slot />
      </div>
    </article>
    
  </div>
</Layout>

<style>
  #study-title {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    animation: spin 120s infinite 0s linear;
    z-index: 100;
    scale: 1
  }

  #study-title span {
    position: absolute;
    background-color: green;
    color: white;
    transition: all 1s;
  }

  @keyframes spin {
    0% {
      transform: rotateX(40deg) rotateY(0deg) ;
    }
    50% {
      transform: rotateX(80deg) rotateY(360deg) ;
    }
    100% {
      transform: rotateX(10deg) rotateY(0deg) ;
    }
  }
  /* @keyframes spin {
    0% {
      transform: rotateX(37deg) rotateY(123deg) rotateZ(45deg);
    }
    50% {
      transform: rotateX(82deg) rotateY(275deg) rotateZ(19deg);
    }
    100% {
      transform: rotateX(14deg) rotateY(93deg) rotateZ(27deg);
    }
  } */
</style>