---
const {frontmatter} = Astro.props;
import Layout from "./Layout.astro";

---
<Layout title='Case Study'>
  <div class="relativeflex">
    <a 
      id="logo"
      href="/" 
      class="text-[17px] lg:text-lg font-bodoni flex flex-col items-center justify-center font-serif uppercase tracking-[0.02em] md:fixed h-10 md:h-screen md:w-10 border-b-[0.5px] md:border-b-0 md:border-l-[0.5px] border-[#3b3b3f] hover:bg-[#515157]"
    >
      MG
    </a>
    <main class="md:ml-10 px-5">
      <nav class="relative flex items-center gap-x-2.5 w-full text-xs uppercase tracking-wider  h-10 border-b-[0.5px] border-[#3b3b3f]">
        <a href="/" class="hover:underline">Work</a>
        <span>/</span>
        <p class="opacity-50">{frontmatter.title}</p>
        <span class="absolute -bottom-5 right-0 uppercase tracking-wider text-[10px]">Case Study</span>
      </nav>
      <div class="max-w-7xl mx-auto md:px-5">
        <section id="hero" class="relative grid grid-cols-12 gap-y-5 gap-x-10 pt-60 pb-10 border-b-[0.5px] border-[#3b3b3f]">
          <div class="col-span-full lg:col-span-8 flex flex-col gap-y-5 self-end">
            <h2 class="col-span-full lg:col-span-8 uppercase tracking-[-0.063em] text-7xl lg:text-8xl xl:text-9xl -my-2 lg:-my-2.5 xl:-my-3">
              {frontmatter.title}
            </h2>
            <p class="col-span-full lg:col-span-8">{frontmatter.description}</p>
          </div>
          <div class="col-span-full lg:col-span-4 flex flex-col gap-y-5">
            <p class="capitalize">{frontmatter.roles.join(', ')}</p>
            <table class="flex flex-col w-full" cellspacing="0" cellpadding="0">
              <tr>
                  <td class="pr-5"><p>Year</p></td>
                  <td><p>{frontmatter.year}</p></td>
                </tr>
              {frontmatter.company ? (
                <tr>
                  <td class="pr-5"><p>For</p></td>
                  <td><p>{frontmatter.company}</p></td>
                </tr>
              ) : null}
              {frontmatter.tools ? (
                <tr>
                  <td class="pr-5"><p>Tools</p></td>
                  <td><p>{frontmatter.tools.join(', ')}</p></td>
                </tr>
              ) : null}
              {frontmatter.collaborators ? (
                <tr>
                  <td class="pr-5">Collaborators</td>
                  <td>
                    {frontmatter.collaborators.map(({ name, href, role }) => (
                      <span>
                        <a href={href} target="_blank" class="underline">{name}</a>
                        <span>({role})</span>
                      </span>
                    ))}
                  </td>
                </tr>
              ) : null}
            </table>
            <!-- <a class="text-xs uppercase tracking-wider mt-5 order-last">Jump to pretty pictures</a> -->
            <a href="#" class="underline mt-5 order-last text-sm">Jump to pretty pictures</a>
          </div>  
        </section>
        <article class="grid grid-cols-3 max-w-7xl text-lg w-full mt-20">
          <slot />
        </article>
      </div>
    </main>
  </div>
</Layout>

<style is:inline>
  @media (min-width: 768px) {
    #logo {
      writing-mode: vertical-rl; 
      transform: rotate(180deg);
    }
  }

  article > * {
    grid-column: 1 / 3;
  }

  article > p:has(img) {
    margin-left: auto;
    border: 0.5px rgba(0,0,0, 0.11) solid;
    width: 100%;
    height: auto;
  }

  article h1 {
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 80px;
    letter-spacing: -0.05em;
    text-indent: 40px;
  }

  article h2 {
    font-size: 2rem;
    line-height: 2rem;
    /* margin-top: 4rem;
    margin-bottom: 1.25rem; */
  }
  
  article h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* margin-top: 2.25rem;
    margin-bottom: 0.75rem; */
  }

  article h2:first-child {
    margin-top: 0;
  }

  article p {
    margin-bottom: 1.75rem;
  }
  article p:first-child {
    margin-top: 0;
  }

  article p:last-child {
    margin-bottom: 0;
  }
</style>

<script src="../animations/hopping.js"></script>
