---
import Layout from "./Layout.astro";
import DetailsTable from "../components/work/DetailsTable.astro";
const { frontmatter } = Astro.props;
const {
  type,
  title,
  roles,
  year,
  link,
  image,
  tools,
  description,
  collaborators,
  titleTightness = 'normal'
} = frontmatter;
---
<Layout title={title}>
  <div class="grid grid-cols-12 px-5 sm:px-10 lg:gap-20">
    <aside class="col-span-full lg:col-span-3 flex flex-col lg:h-screen lg:sticky lg:top-0 gap-5 sm:gap-10 py-5 sm:pt-10 lg:py-10">
      <a href="/" class="font-bodoni uppercase text-xl -my-1.5">MG</a>
      <div class="hidden lg:block">
        <DetailsTable
          type={type}
          roles={roles}
          year={year}
          tools={tools}
          link={link}
          collaborators={collaborators}
        />
      </div>
    </aside>
    <main class="col-span-full lg:col-span-9 grid grid-cols-9 gap-x-10 lg:gap-x-20 gap-y-40 py-5 sm:pb-10 lg:py-10">
      <div class="col-span-full -my-1">
        <div class="flex gap-2.5">
          <a href="/" class="hover:underline ">Work</a>
          <span>/</span>
          <p class="opacity-40">{title}</p>
        </div>
      </div>
      <h1 class={`
        ${titleTightness === 'tight' ? 'tracking-[-0.21em]' : null}
        font-bodoni text-[#222] uppercase tracking-[-0.063em] text-7xl lg:text-8xl xl:text-9xl -my-2 lg:-my-2.5 -ml-0.5
        col-span-full sm:col-span-6
      `}>
        {title}
      </h1>
      <div class="col-span-full sm:col-span-3 flex lg:hidden">
        <DetailsTable
          type={type}
          roles={roles}
          year={year}
          tools={tools}
          link={link}
          collaborators={collaborators}
        />
      </div>
      <p class="text-[17px] leading-7 max-w-[300px] text-neutral-500 lg:col-span-3 -my-1.5">{description}</p>
      <article id="content" class="col-span-full lg:col-span-6">
        <div class={`
          max-w-none
          prose text-[17px] ml-0 text-black 
          prose-headings:text-[17px] prose-headings:font-bold prose-headings:leading-[1.75] prose-headings:mt-[2.5em] prose-headings:mb-[1.25em]
          prose-li:marker:text-neutral-500 prose-li:marker:text-opacity-50
        `}>
          <slot />
        </div>
      </article>
    </main>
  </div>
</Layout>

<script>
  const content = document.getElementById('content');
  const details = document.getElementById('work-details');

  const targetPosition = 200;

  function isTriggerElementVisible() {
    const rect = content.getBoundingClientRect();
    return (rect.top <= targetPosition) && ((rect.top + rect.height) >= targetPosition);
  }

  function changeTextColorOnScroll() {
    if (isTriggerElementVisible()) {
      details.style.opacity = '0%';
    } else {
      details.style.opacity = '100%';
    }
  }

  window.addEventListener('scroll', changeTextColorOnScroll);
</script>
