---
import Layout from "./Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";
import DetailsTable from "../components/work/DetailsTable.astro";
const { frontmatter } = Astro.props;
const {
  type,
  title,
  roles,
  year,
  link,
  image,
  tools,
  description,
  collaborators,
  titleTightness = 'normal'
} = frontmatter;
---
<Layout title={title}>
  <main class="grid sm:grid-cols-12 gap-x-10 xl:gap-x-20 ">
    <header class="col-span-full p-5 sm:p-10 pb-0 sm:pb-0 bg-black ">
      <div class="flex flex-col gap-5 sm:gap-10 max-w-8xl mx-auto"></div>
      <div class="flex items-center gap-5 -my-0.5">
        <a href="/" class="text-white font-bodoni uppercase text-xl -my-1.5 -ml-px">MG</a>
        <span class="text-neutral-600">/</span>
        <a href="/" class="text-white hover:underline ">Work</a>
        <span class="text-neutral-600">/</span>
        <p class="text-white/40">{title}</p>
      </div>
    </header>
    <div class="col-span-full bg-black text-white pt-40 lg:pt-60 px-5 sm:px-10 xl:px-20 pb-10 md:pb-20 ">
      <div class="flex flex-col md:grid grid-cols-12 gap-10 lg:gap-x-20 max-w-8xl mx-auto">
        <div class="col-span-full md:col-span-7 flex flex-col gap-10 justify-end">
          <h1 class={`
            ${titleTightness === 'tight' ? 'tracking-[-0.21em]' : null}
            font-bodoni uppercase tracking-[-0.063em] text-7xl sm:text-[82px] lg:text-[104px] xl:text-[131px] -mt-1.5 sm:-mt-2.5 lg:-mt-3 xl:-mt-3.5 -mb-2.5 sm:-mb-3.5 lg:-mb-4 xl:-mb-[18px] -ml-0.5
          `}>
            {title}
          </h1>
          <p class="lg:text-base -my-1 lg:-my-1.5 ">{description}</p>
          {link ? (
            <div class="hidden md:inline-block lg:hidden">
              <ExternalLink href={link}/>
            </div>
          ) : null}
        </div>
        <div class="col-span-full col-start-9 col-end-13">
          <DetailsTable
            type={type}
            roles={roles}
            year={year}
            tools={tools}
            link={link}
            collaborators={collaborators}
          />
        </div>
      </div>
    </div>
    <article id="content" class="col-span-full mx-auto p-5 pt-10 sm:p-10 md:pt-20">
      <div class='-mt-2 prose text-neutral-800 prose-strong:text-black prose-headings:text-[32px]  prose-headings:text-black prose-headings:text-base prose-headings:mt-6 '> 
        <slot />
      </div>
    </article>
  </main>
</Layout>

<script>
  const content = document.getElementById('content');
  const details = document.getElementById('work-details');

  const targetPosition = 200;

  function isTriggerElementVisible() {
    const rect = content.getBoundingClientRect();
    return (rect.top <= targetPosition) && ((rect.top + rect.height) >= targetPosition);
  }

  function changeTextColorOnScroll() {
    if (isTriggerElementVisible()) {
      details.style.opacity = '0%';
    } else {
      details.style.opacity = '100%';
    }
  }

  window.addEventListener('scroll', changeTextColorOnScroll);
</script>
