---
import Layout from "./Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";
import DetailsTable from "../components/work/DetailsTable.astro";
const { frontmatter } = Astro.props;
const {
  type,
  title,
  roles,
  year,
  link,
  image,
  tools,
  description,
  collaborators,
} = frontmatter;
---
<Layout title={title}>
  <main class="relative grid sm:grid-cols-12 gap-12 mx-6 sm:mx-12 pb-24">
    <header class="col-span-full flex justify-between pt-6 sm:pt-12">
      <a href="/" class="hover:underline -my-1">Max Georgopoulos</a>
      {link ? <ExternalLink href={link} classes="hidden lg:flex -mr-1" /> : null}
    </header>
    <div class="col-span-full grid grid-cols-1 lg:grid-cols-12 gap-y-6 gap-x-12 pb-12 border-b border-[#E9E9E9]">
      <div class="col-span-full lg:col-span-2 flex justify-between">
        <h1 class="-my-1">{title}</h1>
        {link ? <ExternalLink href={link} classes="lg:hidden -mr-1" /> : null}
      </div>
      <p class={`col-span-full lg:col-span-4 -my-1`}>{description}</p>
      <div class="flex flex-col -my-1 col-span-full lg:col-span-4">
        <DetailsTable
          type={type}
          roles={roles}
          year={year}
          tools={tools}
          link={link}
          collaborators={collaborators}
        />
      </div>
      <div class="lg:col-span-2 w-full flex lg:justify-end -my-1">{year}</div>
    </div>
    <article id="content" class="col-span-full">
      <div class={`
        prose-sm max-w-prose lg:max-w-none mx-auto
        prose-headings:text-sm prose-headings:leading-6 prose-headings:-my-1.5 
        prose-h1:font-bold prose-h2:italic prose-h2:font-normal prose-h2:-mb-4
        prose-p:-my-1.5 
        prose-ul:-my-1.5 prose-ul:list-disc 
        prose-ol:-my-1.5 prose-ol:list-decimal 
        prose-img:h-min prose-img:m-0
        grid grid-cols-1 lg:grid-cols-12 gap-12 text-black
      `}>
        <slot />
      </div>
    </article>
  </main>
</Layout>

<style is:inline>
  #content > div > ul > li::marker {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #000;
  }

  #content > div > details {
    margin-bottom: 40px;
  }
</style>