---
import Layout from "./Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";
import DetailsTable from "../components/work/DetailsTable.astro";
const { frontmatter } = Astro.props;
const {
  type,
  title,
  roles,
  year,
  link,
  image,
  tools,
  description,
  collaborators,
} = frontmatter;
---
<Layout title={title}>
  <main class="grid sm:grid-cols-12 gap-12 mx-6 sm:mx-12 pb-24">
    <article id="content" class="order-last col-span-full lg:col-span-9 -mt-1">
      <div class="-mt-1 prose-sm max-w-prose text-neutral-800 prose-strong:text-black prose-headings:text-sm prose-headings:font-bold prose-headings:text-black prose-headings:mt-8 first:prose-headings:mt-0 prose-img:h-min">
        <slot />
      </div>
    </article>
    <header class="col-span-full pt-6 sm:pt-12 -my-1">
      <a href="/" class="hover:underline ">Max Georgopoulos</a>
    </header>
    <div class="relative col-span-full lg:col-span-3 flex flex-col gap-6  pb-12 lg:pb-0 border-b-[0.5px] lg:border-none border-neutral-300">
      <h1 class="-my-1">{title}</h1>
      <p class="-my-1">{description}</p>
      <div class="flex flex-col -my-1">
        <DetailsTable
          type={type}
          roles={roles}
          year={year}
          tools={tools}
          link={link}
          collaborators={collaborators}
        />
      </div>
      {link ? (
        <div class="absolute lg:static top-0 sm:-top-1 -right-[3px]">
          <ExternalLink href={link}/>
        </div>  
      ) : null}
      </div>
    </div>
  </main>
</Layout>