---
import RightArrowIcon from '../icons/RightArrowIcon.astro';
import UpRightArrowIcon from '../icons/UpRightArrowIcon.astro';

export interface Props {
  link: {
    href: string;
    target?: '_blank' | '_self' | '_parent' | '_top';
  };
  title: string;
  description?: string;
  image: string;
  roles?: string[];
  year?: number;
  featured?: boolean;
  classes?: string;
}

const { link, title, description, image, roles = [], year = 2023, featured = false, classes = '' } = Astro.props;
---

<a
  href={link.href}
  target={link.target || '_self'}
  class={`
    group relative gap-x-6 grid grid-cols-2 lg:grid-cols-4 h-fit
    ${featured 
      ? 'border-t border-neutral-700 col-span-full' 
      : 'col-span-full sm:col-span-2 lg:col-span-1 -mt-1'
    } 
    ${classes} 
  `}
>
  {featured ? (
    <>
      <p class="lg:order-1">{title}</p>
      <p class="lg:order-3">{roles.join(', ')}</p>
      <p class="lg:order-2 my-0.5 leading-4">{description}</p>
      <p class="lg:order-4 self-end">{year}</p>
      <div class="hidden xs:block z-5 absolute top-1 right-0">
        <RightArrowIcon />
      </div>
    </>
  ) : (
    <div class="col-span-full flex items-start justify-between">
      <div class="flex flex-wrap gap-x-1 w-full">
        <span class="group-hover:underline">{title}</span> 
        <span class="group-hover:opacity-0 group-focus:opacity-0 transition ease-in-out text-neutral-500 dark:text-neutral-490 my-0.5 leading-4">
          {description || ""}
        </span>
      </div>
      <span 
        class="opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition ease-in-out "
      >
        {link.target === '_blank' ? (
          <UpRightArrowIcon 
            classes="transition mt-[3px] -mr-[3px] transform -translate-x-px translate-y-px group-hover:translate-x-0 group-focus:translate-x-0 group-hover:translate-y-0 group-focus:translate-y-0" 
          /> 
        ) : (
          <RightArrowIcon 
            classes="transition -mr-0.5 transform -translate-x-0.5 group-hover:translate-x-0 group-focus:translate-x-0 " 
          />
        )}
      </span>
    </div>
  )}
  <picture class={`
    order-last relative h-auto max-h-[550px] w-full col-span-full mt-1 
  `}>
    <img
      src={image}
      alt={`Preview mockup of ${title}`}
      class={`
        w-full h-full object-top select-none
        ${featured ? 'object-cover' : 'object-contain'}
      `}
    />
  </picture>
</a>
